@model Sciffer.Erp.Domain.Model.ref_validation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ref_validation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.so_mandatory_for_si)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.so_mandatory_for_si)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rate_change_at_si)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rate_change_at_si)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pr_mandatory_for_po)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pr_mandatory_for_po)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.po_mandatory_for_grn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.po_mandatory_for_grn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.po_mandatory_for_pi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.po_mandatory_for_pi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allow_to_change_bom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allow_to_change_bom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allow_negative_cash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allow_negative_cash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allow_negative_bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allow_negative_bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.round_off_values)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.round_off_values)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grn_for_qa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grn_for_qa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.goods_receipt_for_qa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.goods_receipt_for_qa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.production_receipt_for_qa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.production_receipt_for_qa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inventory_adjustment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inventory_adjustment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_creation_date_for_next_month)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_creation_date_for_next_month)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.validation_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
