
@using Sciffer.Erp.Domain.ViewModel

@{
    ViewBag.Title = "Index";
}
<br /><br /><br />
<div>
    @(Html.EJ().Grid<sal_so_vm>("Searching")
         .Datasource(ds => ds.URL(Url.Action("GetIndexData", "Generic", new { @ctrl_name = "SalesOrder" }))
         .EnableCaching()
        .CachingPageSize(4)
        .TimeTillExpiration(120000)
        .Adaptor(AdaptorType.UrlAdaptor))
        .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.InlineFormTemplate); })
        .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
        {
            items.AddTool(ToolBarItems.Add);
            items.AddTool(ToolBarItems.Edit);
            items.AddTool(ToolBarItems.ExcelExport);
            items.AddTool(ToolBarItems.PrintGrid);

        }))
         .ContextMenuSettings(contextMenu =>
         {
             contextMenu.EnableContextMenu();
             contextMenu.DisableDefaultItems();
             contextMenu.CustomContextMenuItems(new List<Syncfusion.JavaScript.Models.CustomContexMenuItems>() { new Syncfusion.JavaScript.Models.CustomContexMenuItems() { Id = "MyMenu", Text = "Print Report" } }); // CustomContext menu items                     
         })
        .Mappers(map => map.ExportToExcelAction(Url.Action("ExportToExcel", "Generic", new { ctrlname = "SalesOrder" })))
        .AllowSorting()
       .AllowPaging().PageSettings(a => a.PageSize(20))
        .IsResponsive()
        .AllowFiltering()
        .ShowColumnChooser()
        .AllowReordering()
        .AllowScrolling()
        .ScrollSettings(col => { col.Width("100%"); })
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .Columns(col =>
        {
            col.Field("so_id").Width("15%").HeaderText("ID").IsPrimaryKey(true).Visible(false).Width(80).Add();
            col.Field("quotation_number").Width("15%").HeaderText("Quotation Number").Add();
            col.Field("sales_category_name").Width("15%").HeaderText("Category").Add();
            col.Field("so_number").Width("15%").HeaderText("Number").Add();
            col.Field("so_date").Width("15%").HeaderText("Posting Date").Format("{0:dd/MM/yyyy}").Add();
            col.Field("buyer_name").Width("15%").HeaderText("Bill to party Name").Visible(true).Add();
            col.Field("buyer_code").Width("15%").HeaderText("Bill to party Code").Visible(false).Add();
            col.Field("consignee_name").Width("15%").HeaderText("Ship to Party Name").Visible(false).Add();
            col.Field("consignee_code").Width("15%").HeaderText("Ship to Party Code").Visible(false).Add();
            col.Field("supply_state").Width("15%").HeaderText("Place of Supply").Visible(true).Add();
            col.Field("delivery_state").Width("15%").HeaderText("Place of Delivery").Visible(true).Add();
            col.Field("item_name").Width("20%").HeaderText("Item").Visible(true).Add();
            col.Field("sal_net_value").Width("15%").HeaderText("Net Value").Visible(true).Add();
            col.Field("net_value_currency_name").Width("15%").HeaderText("Net Currency").Visible(false).Add();
            col.Field("sal_gross_value").Width("15%").HeaderText("Gross Value").Visible(false).Add();
            col.Field("gross_value_currency_name").Width("15%").HeaderText("Gross Currency").Visible(false).Add();
            col.Field("business_unit_name").Width("15%").HeaderText("Business Unit Name").Visible(false).Add();
            col.Field("business_desc").Width("15%").HeaderText("Business Unit Description").Visible(false).Add();
            col.Field("plant_code").Width("15%").HeaderText("Plant Code").Visible(false).Add();
            col.Field("plant_name").Width("15%").HeaderText("Plant Description").Visible(false).Add();
            col.Field("freight_terms_name").Width("15%").HeaderText("Freignt Terms").Visible(false).Add();
            col.Field("territory_name").Width("15%").HeaderText("Territory").Visible(false).Add();
            col.Field("sales_rm_code").Width("15%").HeaderText("Employee Code").Visible(false).Add();
            col.Field("sales_rm_name").Width("15%").HeaderText("Employee Name").Visible(false).Add();
            col.Field("delivery_date").Width("15%").HeaderText("Delivery Date").Format("{0:dd/MM/yyyy}").Visible(false).Add();
            col.Field("customer_po_date").Width("15%").HeaderText("Customer Po Date").Format("{0:dd/MM/yyyy}").Visible(false).Add();
            col.Field("customer_po_no").Width("15%").HeaderText("Customer   Po No").Visible(false).Add();
            col.Field("currency_name").Width("15%").HeaderText("Currency").Visible(false).Add();
            col.Field("form_name").Width("15%").HeaderText("Sale against Form").Visible(false).Add();
            col.Field("billing_address").Width("15%").HeaderText("Billing Address").Visible(false).Add();
            col.Field("billing_city").Width("15%").HeaderText("Billing City").Visible(false).Add();
            col.Field("billing_pincode").Width("15%").HeaderText("Billing Pincode").Visible(false).Add();
            col.Field("billing_country_name").Width("15%").HeaderText("Billing Country").Visible(false).Add();
            col.Field("billing_state_name").Width("15%").HeaderText("Billing State").Visible(false).Add();
            col.Field("billing_email_id").Width("15%").HeaderText("Bill to party Email").Visible(false).Add();
            col.Field("shipping_address").Width("15%").HeaderText("Shipping Address").Visible(false).Add();
            col.Field("shipping_city").Width("15%").HeaderText("Shipping City").Visible(false).Add();
            col.Field("shipping_pincode").Width("15%").HeaderText("Shipping Pincode").Visible(false).Add();
            col.Field("shipping_country_name").Width("15%").HeaderText("Shipping Country").Visible(false).Add();
            col.Field("shipping_state_name").Width("15%").HeaderText("Shipping State Name").Visible(false).Add();
            col.Field("shipping_email_id").Width("15%").HeaderText("Ship to Party Email").Visible(false).Add();
            col.Field("payment_cycle_type_name").Width("15%").HeaderText("Payment Cycle Type").Visible(false).Add();
            col.Field("payment_cycle_name").Width("15%").HeaderText("Payment Cycle").Visible(false).Add();
            col.Field("payment_terms_name").Width("15%").HeaderText("Payment Terms").Visible(false).Add();
            col.Field("avail_credit_limit").Width("15%").HeaderText("Available Credit Limit").Visible(false).Add();
            col.Field("credit_avail_after_order").Width("15%").HeaderText("Credit Avail After Order").Visible(false).Add();
            col.Field("gst_no").Width("15%").HeaderText("Bill to party GSTIN").Visible(false).Add();
            col.Field("pan_no").Width("15%").HeaderText("Bill to party PAN No").Visible(false).Add();
            col.Field("shipping_gst_no").Width("15%").HeaderText("Ship to Party GSTIN").Visible(false).Add();
            col.Field("shipping_pan_no").Width("15%").HeaderText("Ship to Party PAN No").Visible(false).Add();
            col.Field("tds_code").Width("15%").HeaderText("TDS Code").Visible(false).Add();
            col.Field("gst_tds_code").Width("15%").HeaderText("GST TDS Code").Visible(false).Add();
            col.Field("internal_remarks").Width("15%").HeaderText("Internal Remarks").Visible(false).Add();
            col.Field("remarks").Width("15%").HeaderText("Remarks").Visible(false).Add();
            col.Field("attachment").Width("15%").HeaderText("Attachment").Width(150).Visible(false).Template("<a target='_blank' href='/Generic/Result?id={{:SO_ID}}&controllername=SalesOrder'>File</a>").AllowEditing().Add();
            col.Field("closed_remarks").Width("15%").HeaderText("Closed Remarks").Visible(true).Add();
            col.Field("closed_user").Width("15%").HeaderText("Closed By").Visible(true).Add();

        }).ClientSideEvents(eve =>
        {
            eve.ActionBegin("actionBegin");
            eve.RightClick("rightClick");
            eve.ContextClick("contextclick");
        })
    )
</div>
<style>
    .e-editedrow {
        display: none;
    }
    .e-editcell {
        display:none
    }
</style>
<script type="text/javascript">

    function actionBegin(args) {
        if (args.requestType == "beginedit") {
            location.href = '@Url.Action("Edit", "SalesOrder")?id=' + args.rowData.so_id;
        }
        if (args.requestType == "add") {
            location.href = '@Url.Action("Create", "SalesOrder")';
        }
        if (args.requestType == "print") {
            //  console.log(args);
            args.cancel = true;

            alert("Hello");
        }
    }
    function contextclick(args) {
        if (args.text == "Print Report") {
            var url = '@Url.Action("Pdf", "SalesOrder")?id=' + this.getSelectedRecords()[0].so_id;
            window.open(url);
        }

    };
    $(document).ready(function () {
        var doc_no = '@ViewBag.doc';
        if (doc_no != '') {
            if (doc_no != 0) {
                sweetAlert("", doc_no + " Saved successfully!", "success");
            }
        }
    });
</script>

