
@using Sciffer.Erp.Domain.ViewModel

@{
    ViewBag.Title = "Index";
}

<br /><br /><br /><br /><br />
<div>
    @(Html.EJ().Grid<pur_srn_vm>("Searching")
        .Datasource(ds => ds.URL(Url.Action("GetIndexData", "Generic", new { @ctrl_name = "SRN" }))
         .EnableCaching()
        .CachingPageSize(4)
        .TimeTillExpiration(120000)
        .Adaptor(AdaptorType.UrlAdaptor))
        .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.InlineFormTemplate); })
        .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
        {
            items.AddTool(ToolBarItems.Add);
            items.AddTool(ToolBarItems.Edit);
            items.AddTool(ToolBarItems.ExcelExport);           
        })).ContextMenuSettings(contextMenu =>
        {
            contextMenu.EnableContextMenu();
            contextMenu.DisableDefaultItems();
            contextMenu.CustomContextMenuItems(new List<Syncfusion.JavaScript.Models.CustomContexMenuItems>() { new Syncfusion.JavaScript.Models.CustomContexMenuItems() { Id = "MyMenu", Text = "Print Report" } }); // CustomContext menu items
        })
        .Mappers(map => map.ExportToExcelAction(Url.Action("ExportToExcel", "Generic", new { ctrlname = "SRN" }))
        .ExportToPdfAction(Url.Action("ExportToPdf", "Generic", new { ctrlname = "SRN" })).ExportToWordAction(Url.Action("ExportToWord", "Generic", new { ctrlname = "SRN" })))
        .AllowSorting()
        .AllowPaging().PageSettings(a => a.PageSize(20))
        .IsResponsive()
        .AllowFiltering()
        .ShowColumnChooser()
        .AllowReordering()
        .AllowScrolling()
        .ScrollSettings(col => { col.Width("100%"); })
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .Columns(col =>
        {
            col.Field("srn_id").Width("15%").HeaderText("ID").Visible(false).IsPrimaryKey(true).Width(80).Add();
            col.Field("purchase_name").Width("15%").HeaderText("Purchase Order").Add();
            col.Field("category_name").Width("15%").HeaderText("Category").Add();
            col.Field("document_no").Width("15%").HeaderText("Document No.").Add();
            col.Field("posting_date").Width("15%").HeaderText("Posting Date").Format("{0:dd/MM/yyyy}").Visible(false).Add();
            col.Field("vendor_name").Width("15%").HeaderText("Vendor Name").Add();
            col.Field("vendor_code").Width("15%").HeaderText("Vendor Code").Add();
            col.Field("net_value").Width("15%").HeaderText("Net Value").TextAlign(TextAlign.Right).Format("{0:n2}").Add();
            col.Field("net_currency").Width("15%").HeaderText("Net Currency").Add();
            col.Field("gross_value").Width("15%").HeaderText("Gross Value").Visible(false).TextAlign(TextAlign.Right).Format("{0:n2}").Add();
            col.Field("gross_currency").Width("15%").HeaderText("Gross Currency").Visible(false).Add();
            col.Field("business_unit_code").Width("15%").HeaderText("Business Unit Name").Visible(false).Add();
            col.Field("BUSINESS_UNIT_DESCRIPTION").Width("15%").HeaderText("Business Unit Description").Visible(false).Add();
            col.Field("plant_code").Width("15%").HeaderText("Plant Code").Visible(false).Add();
            col.Field("plant_name").Width("15%").HeaderText("Plant Description").Visible(false).Add();
            col.Field("freight_terms").Width("15%").HeaderText("Freignt Terms").Visible(false).Add();
            col.Field("delivery_date").Width("15%").HeaderText("Delivery Date").Format("{0:dd/MM/yyyy}").Visible(false).Add();
            col.Field("vendor_doc_no").Width("15%").HeaderText("Vendor Ducument").Visible(false).Add();
            col.Field("vendor_doc_date").Width("15%").HeaderText("Vendor Document Date").Format("{0:dd/MM/yyyy}").Visible(false).Add();
            col.Field("gate_entry_number").Width("15%").HeaderText("Gate Entry Number").Visible(false).Add();
            col.Field("gate_entry_date").Width("15%").HeaderText("Gate Entry Date").Format("{0:dd/MM/yyyy}").Visible(false).Add();           
            col.Field("created_by1").Width("15%").HeaderText("Created By").Visible(false).Add();
            col.Field("billing_address").Width("15%").HeaderText("Billing Address").Visible(false).Add();
            col.Field("billing_city").Width("15%").HeaderText("Billing City").Visible(false).Add();
            col.Field("billing_pin_code").Width("15%").HeaderText("Billilng Pin Code").Visible(false).Add();
            col.Field("country_name").Width("15%").HeaderText("Country").Visible(false).Add();
            col.Field("billing_state").Width("15%").HeaderText("Billing State").Visible(false).Add();
            col.Field("email_id").Width("15%").HeaderText("Email").Visible(false).Add();
            col.Field("payment_cycle_type").Width("15%").HeaderText("Payment Cycle Type").Visible(false).Add();
            col.Field("payment_cycle").Width("15%").HeaderText("Payment Cycle").Visible(false).Add();
            col.Field("payment_terms").Width("15%").HeaderText("Payment Terms").Visible(false).Add();
            col.Field("gst_no").Width("15%").HeaderText("GST No").Visible(false).Add();
            col.Field("pan_no").Width("15%").HeaderText("PAN No").Visible(false).Add();
            col.Field("ecc_no").Width("15%").HeaderText("ECC No").Visible(false).Add();
            col.Field("vat_tin_no").Width("15%").HeaderText("VAT TIN No").Visible(false).Add();
            col.Field("cst_tin_no").Width("15%").HeaderText("CST TIN No").Visible(false).Add();
            col.Field("service_tax_no").Width("15%").HeaderText("Service Tax No").Visible(false).Add();       
            col.Field("internal_remarks").Width("15%").HeaderText("Internal Reamrks").Visible(false).Add();
            col.Field("remarks_on_doc").Width("15%").HeaderText("Remarks On Document").Visible(false).Add();
            col.Field("cancellation_remarks").Width("15%").HeaderText("Cancellation Remarks").Visible(false).Add();
        }).ClientSideEvents(eve =>
        {
            eve.ActionBegin("actionBegin");
            eve.RightClick("rightClick");
            eve.ContextClick("contextclick");
        })
    )
</div>
<style>
    .e-editedrow {
        display: none;
    }

    .e-editcell {
        display: none;
    }
</style>

<script type="text/javascript">

    function actionBegin(args) {
        if (args.requestType == "beginedit")
        {
            location.href = '@Url.Action("Edit", "srn")?id=' + args.rowData.srn_id;

        }
        if (args.requestType == "add") {
            location.href = '@Url.Action("Create", "srn")';
        }
    }
    function contextclick(args) {
        if (args.text == "Print Report") {
            var url = '@Url.Action("Pdf", "srn")?id=' + this.getSelectedRecords()[0].srn_id;
            window.open(url);
        }
    };

    $(document).ready(function(){
        var doc_no= '@ViewBag.doc';
        if(doc_no!=''){
            sweetAlert("", doc_no + " Saved successfully!", "success");
        }
    });

</script>