@using Newtonsoft.Json
@model Sciffer.Erp.Domain.ViewModel.prod_receipt_VM
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="ProdReceiptDetails"></div>
    <div class="form-horizontal">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.prod_order_id, "Production Order", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            @Html.DropDownList("prod_order_id", (System.Web.Mvc.SelectList)ViewBag.ProdOrdList, "--Select--", new { @class = "form-control", @onchange = "GetProductionOrder(this.value);" })
                            @Html.ValidationMessageFor(model => model.prod_order_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <input type="button" value="Select Production Order" name="purchaseorder" id="purchaseorder" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.category_id, "Category *", htmlAttributes: new { Class = "control-label col-md-4 " })
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <input type="hidden" id="is_active" name="is_active" value="true" />
                            @Html.DropDownList("category_id", (System.Web.Mvc.SelectList)ViewBag.categorylist, htmlAttributes: new { Class = "form-control", @onchange = "GetDocumentNumber(this.value)" })
                            @Html.ValidationMessageFor(model => model.category_id, "", new { Class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.plant_id, "Plant *", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            @Html.DropDownList("plant_id", (System.Web.Mvc.SelectList)ViewBag.plantlist, "--Select--", htmlAttributes: new { @class = "form-control validinput removedisabled", @required = true, @disabled = "disabled", @onchange = "GetStorageLocation(this.value)" })
                            @Html.ValidationMessageFor(model => model.plant_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.posting_date, "Posting Date *", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            @Html.EditorFor(model => model.posting_date, new { htmlAttributes = new { @class = "form-control validinput" } })
                            @Html.ValidationMessageFor(model => model.posting_date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.document_date, "Document Date *", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            @Html.EditorFor(model => model.document_date, new { htmlAttributes = new { @class = "form-control validinput" } })
                            @Html.ValidationMessageFor(model => model.document_date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.header_remarks, "Remarks", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            @Html.EditorFor(model => model.header_remarks, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.header_remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.storage_location_id, "Parent SLoc", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            @Html.DropDownList("storage_location_id", (System.Web.Mvc.SelectList)ViewBag.StorageList, "---Select---", new { @class = "form-control validinput removedisabled", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.storage_location_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <input type="hidden" id="deleteids" name="deleteids" />
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-primary" id="open_modal" style="float:right"><span class="glyphicon glyphicon-plus"></span>Add Details</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="table-responsive" style="max-height: calc(100vh - 250px); overflow-y: auto;">
                    <table class="table table-responsive table-bordered table-striped" id="ContactGrid">
                        <thead>
                            <tr>
                                <th hidden><label>ID</label></th>
                                <th hidden><label>Out Item ID</label></th>
                                <th><label>Out Item Code</label></th>
                                <th><label>Out Item Name</label></th>
                                <th hidden><label>UoM ID</label></th>
                                <th><label>UoM Code</label></th>
                                <th><label>UoM Name</label></th>
                                <th hidden><label>SLoc ID</label></th>
                                <th><label>SLoc Code</label></th>
                                <th><label>SLoc Name</label></th>
                                <th hidden><label>Batch ID</label></th>
                                <th><label>Batch No</label></th>
                                <th hidden><label>Tag ID</label></th>
                                <th><label>Tag No</label></th>
                                <th hidden><label>Prod Order Detail ID</label></th>
                                <th><label>Quantity</label></th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="submit" value="Create" class="btn btn-success" id="create" data-controller="PriceList" onclick="TabletoJeson();" style="float:right" />
                </div>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript" src="~/Scripts/jquery.dataTables1.10.9.min.js"></script>
    <script type="text/javascript" src="~/Scripts/1.9.4.jquery.dataTables.min.js"></script>

    <script type="text/javascript">
    @*function codeAddress() {
            var t = $('#ContactGrid').DataTable();
            var sr_no = t.fnGetData().length+1;
            var pl_detail = @Html.Raw(JsonConvert.SerializeObject(this.Model.prod_receipt_detail));
            console.log(pl_detail);
            var i=1;

            $.each(pl_detail, function(key, value) {
                //'0', rowCount + 1, item_id, item_name, uom_id, uom_name, sloc_id, sloc_name, batch_id, batch_no, tag_id, tag_no,
                //prod_receipt_detail_id, quantity, ''

                t.fnAddData([value.prod_receipt_detail_id,sr_no,value.out_item_id,value.REF_ITEM.ITEM_CODE+"-"+value.REF_ITEM.ITEM_NAME,
               value.uom_id, value.REF_UOM.UOM_NAME +"-"+value.REF_UOM.UOM_NAME,value.storage_location_id,
               value.REF_STORAGE_LOCATION.storage_location_name+""+value.REF_STORAGE_LOCATION.description,value.batch_id,
               value.inv_item_batch.batch_number,
               value.tag_id,value.inv_item_batch_detail_tag.tag_no,value.prod_order_detail_id,value.quantity,''
            ]);
            i=i+1;
            sr_no++;
            });
            }
        window.onload = codeAddress;*@
        $(document).ready(function () {
            var t = $('#ContactGrid').DataTable();
            var sr_no = t.fnGetData().length+1;
            var pl_detail = @Html.Raw(JsonConvert.SerializeObject(this.Model.prod_receipt_detail));
            t.fnAddData(pl_detail);
            $("#form0 :input").prop("disabled", true);
        });

        $('#ContactGrid').DataTable({
            "bPaginate": false,
            "ordering": false,
            "bfooter": false,
            "info": false,
            "bLengthChange": false,
            "bAutoWidth": false,
            "bFilter": false,
            "bSort": false,
            "columns": [
                  { "data": "prod_receipt_detail_id", bVisible: false },
                  { "data": "out_item_id", bVisible: false },
                  { "data": "REF_ITEM.ITEM_CODE", bVisible: true },
                  { "data": "REF_ITEM.ITEM_NAME", bVisible: true },
                  { "data": "uom_id", bVisible: false },
                  { "data": "REF_UOM.UOM_NAME", bVisible: true },
                  { "data": "REF_UOM.UOM_DESCRIPTION", bVisible: true },
                  { "data": "storage_location_id", bVisible: false },
                  { "data": "REF_STORAGE_LOCATION.storage_location_name", bVisible: true },
                  { "data": "REF_STORAGE_LOCATION.description", bVisible: true },
                  { "data": "batch_id", bVisible: false },
                  { "data": "inv_item_batch.batch_number", bVisible: true },
                  { "data": "tag_id", bVisible: false },
                  { "data": "inv_item_batch_detail_tag.tag_no", bVisible: true },
                  { "data": "prod_order_detail_id", bVisible: false },
                  { "data": "quantity" , bVisible: true},
            ]
        });
    </script>
}