

@using Sciffer.Erp.Domain.ViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('.mickey').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            maxHeight: '200',
            enableCaseInsensitiveFiltering: true,
            allowClear: true,
            maximumResultsForSearch: 1,
            numberDisplayed: 0,
        });
    });
</script>



<div class="form-horizontal">
    <div class=row>
        <div class="col-md-4 col-lg-4 col-xs-12">
            <label class="control-label col-md-5 col-lg-5 col-xs-12">From Date</label>
            <div class="col-md-7 col-lg-7 col-xs-12">
                <input type="date" id="fromDate" class="form-control radius" required="required">
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12">
            <label class="control-label col-md-5 col-lg-5 col-xs-12">To Date</label>
            <div class="col-md-7 col-lg-7 col-xs-12">
                <input type="date" id="toDate" class="form-control radius" required="required">
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12">
            <div class="col-md-5 col-lg-5 col-xs-12">
                <label></label>
            </div>
            <div class="col-md-7 col-lg-7 col-xs-12">
                <button class="searchbutton searchButton" id="search"> &nbsp; Run Report </button>
            </div>
        </div>
    </div>
    <br />
    <div class=row>
        <div class="col-md-4 col-lg-4 col-xs-12">
            <label class="control-label col-md-5 col-lg-5 col-xs-12">Customer Category</label>
            <div class="col-md-7 col-lg-7 col-xs-12">
                @Html.DropDownList("customer_category", (System.Web.Mvc.SelectList)ViewBag.customer_category_list, htmlAttributes: new { @class = "form-control mickey", multiple = "multiple" })

            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12">
            <label class="control-label col-md-5 col-lg-5 col-xs-12">Sales RM</label>
            <div class="col-md-7 col-lg-7 col-xs-12">
                @Html.DropDownList("sales_rm", (System.Web.Mvc.SelectList)ViewBag.sale_rm_list, htmlAttributes: new { @class = "form-control mickey", multiple = "multiple" })
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12">
            <label class="control-label col-md-5 col-lg-5 col-xs-12">Territory</label>
            <div class="col-md-7 col-lg-7 col-xs-12">
                @Html.DropDownList("territory", (System.Web.Mvc.SelectList)ViewBag.territory_list, htmlAttributes: new { @class = "form-control mickey", multiple = "multiple" })
            </div>
        </div>
    </div>
    <br />
    <div class=row>
        <div class="col-md-4 col-lg-4 col-xs-12">
            <label class="control-label col-md-5 col-lg-5 col-xs-12">Priority</label>
            <div class="col-md-7 col-lg-7 col-xs-12">
                @Html.DropDownList("priority", (System.Web.Mvc.SelectList)ViewBag.priority_list, htmlAttributes: new { @class = "form-control mickey", multiple = "multiple" })
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-xs-12">
            <label class="control-label col-md-5 col-lg-5 col-xs-12">Control Account</label>
            <div class="col-md-7 col-lg-7 col-xs-12">
                @Html.DropDownList("control_account", (System.Web.Mvc.SelectList)ViewBag.generalledger_list, htmlAttributes: new { @class = "form-control mickey", multiple = "multiple" })
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-xs-12">
            @Html.Label("Currency", htmlAttributes: new { @class = "control-label col-md-5 col-sm-5 col-xs-12" })
            <div class="col-md-7 col-lg-7 col-xs-12">
                @Html.DropDownList("currency", (System.Web.Mvc.SelectList)ViewBag.currency_list, htmlAttributes: new { @class = "form-control mickey", multiple = "multiple" })
            </div>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-4 col-lg-4 col-xs-12">
            <label class="control-label col-md-5 col-lg-5 col-xs-12">Plant</label>
            <div class="col-md-7 col-lg-7 col-xs-12">
                @Html.DropDownList("plant", (System.Web.Mvc.SelectList)ViewBag.plant_list, htmlAttributes: new { @class = "form-control mickey", multiple = "multiple" })
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-xs-12">
            <label class="control-label col-md-5 col-lg-5 col-xs-12">Business Unit</label>
            <div class="col-md-7 col-lg-7 col-xs-12">

                @Html.DropDownList("business_unit", (System.Web.Mvc.SelectList)ViewBag.business_list, htmlAttributes: new { @class = "form-control mickey ", multiple = "multiple" })

            </div>
        </div>

    </div>
</div>
<br />
<div class="row">

    <div id="searchresult">
        @Html.Partial("Partial_Report", (object)ViewBag)
    </div>
</div>


<script type="text/javascript">
    $("#search").click(function () {
        AdvanceSearch();
    });
    document.getElementById('fromDate').valueAsDate = new Date();
    document.getElementById('toDate').valueAsDate = new Date();
    function AdvanceSearch() {
        var fromDate = $("#fromDate").val();
        var toDate = $("#toDate").val();
        var customer_category = $("#customer_category").val();
        var sales_rm = $("#sales_rm").val();
        var territory = $("#territory").val();
        var priority = $("#priority").val();
        var control_account = $("#control_account").val();
        var currency = $("#currency").val();
        var plant = $("#plant").val();
        var business_unit = $("#business_unit").val();
        if ($('#customer_category :selected').length > 0) {
            var selectedCustomeCategory = [];
            $('#customer_category :selected').each(function (i, selected) {
                selectedCustomeCategory[i] = $(selected).val();
            });
            var cus_category = selectedCustomeCategory + "";
        }

        if ($('#sales_rm :selected').length > 0) {
            var selectedSalesRM = [];
            $('#sales_rm :selected').each(function (i, selected) {
                selectedSalesRM[i] = $(selected).val();
            });
            var SalesRM = selectedSalesRM + "";
        }

        if ($('#territory :selected').length > 0) {
            var selectedTerritory = [];
            $('#territory :selected').each(function (i, selected) {
                selectedTerritory[i] = $(selected).val();
            });
            var territories = selectedTerritory + "";
        }

        if ($('#priority :selected').length > 0) {
            var selectedPriority = [];
            $('#priority :selected').each(function (i, selected) {
                selectedPriority[i] = $(selected).val();
            });
            var Priorities = selectedPriority + "";
        }

        if ($('#control_account :selected').length > 0) {
            var selectedControlAccount = [];
            $('#control_account :selected').each(function (i, selected) {
                selectedControlAccount[i] = $(selected).val();
            });
            var ControlAccount = selectedControlAccount + "";
        }

        if ($('#currency :selected').length > 0) {
            var selectedCurrency = [];
            $('#currency :selected').each(function (i, selected) {
                selectedCurrency[i] = $(selected).val();
            });
            var Currencies = selectedCurrency + "";
        }
        if ($('#plant :selected').length > 0) {
            var selectedPlant = [];
            $('#plant :selected').each(function (i, selected) {
                selectedPlant[i] = $(selected).val();
            });
            var Plants = selectedPlant + "";
        }
        if ($('#business_unit :selected').length > 0) {
            var selectedBusinessUnit = [];
            $('#business_unit :selected').each(function (i, selected) {
                selectedBusinessUnit[i] = $(selected).val();
            });
            var BusinessUnits = selectedBusinessUnit + "";
        }

        $.ajax({
            url: '@Url.Action("GetSalesSummaryReport", "Report")',
            method: "Post",
            cache: false,
            data: { customer_category_id: cus_category, sales_rm_id: SalesRM, territory_id: territories, priority_id: Priorities, control_account_id: ControlAccount, currency_id: Currencies, business_unit_id: BusinessUnits, start_date: fromDate, end_date: toDate, plant: Plants },
            success: function (data) {
                $(".loading").hide();
                $('#searchresult').empty().append(data);
                //console.log(data);
            },
            error: function (http) {
                console.log(XMLHttpRequest);
            }
        });
    }
</script>
<div class="modal"><!-- Place at bottom of page --></div>
