@model Sciffer.Erp.Domain.ViewModel.SAL_QUOTATION_VM
@{
    if (ViewBag.Count == null)
    {
        ViewBag.Count = 0;
    }
    int count = ViewBag.Count;
}
<tr>
    <td hidden>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.SAL_QUOTATION_DETAIL[count].QUOTATION_DETAIL_ID, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.SAL_QUOTATION_DETAIL[count].SR_NO, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.SAL_QUOTATION_DETAIL[count].ITEM_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SAL_QUOTATION_DETAIL[count].ITEM_ID, "", new { @class = "text-danger" })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.SAL_QUOTATION_DETAIL[count].DELIVERY_DATE, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.SAL_QUOTATION_DETAIL[count].QUANTITY, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.SAL_QUOTATION_DETAIL[count].UOM_ID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.SAL_QUOTATION_DETAIL[count].UNIT_PRICE, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.SAL_QUOTATION_DETAIL[count].DISCOUNT, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.SAL_QUOTATION_DETAIL[count].EFFECTIVE_UNIT_PRICE, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.SAL_QUOTATION_DETAIL[count].SALES_VALUE, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.SAL_QUOTATION_DETAIL[count].ASSESSABLE_RATE, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.SAL_QUOTATION_DETAIL[count].ASSESSABLE_VALUE, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-12">
                @Html.EditorFor(model => model.SAL_QUOTATION_DETAIL[count].TAX_CODE, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-12">
                @Html.HiddenFor(model => model.SAL_QUOTATION_DETAIL[count].IS_ACTIVE, new { htmlAttributes = new { @class = "form-control" } })
                <input type="button" class="btn btn-danger delete-country" value="Delete" />
            </div>
        </div>
    </td>
</tr>
