@model Sciffer.Erp.Domain.Model.SAL_QUOTATION

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SAL_QUOTATION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.REF_BUSINESS_UNIT.BUSINESS_UNIT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_BUSINESS_UNIT.BUSINESS_UNIT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_CUSTOMER.CUSTOMER_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_CUSTOMER.CUSTOMER_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_CUSTOMER1.CUSTOMER_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_CUSTOMER1.CUSTOMER_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_FREIGHT_TERMS.FREIGHT_TERMS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_FREIGHT_TERMS.FREIGHT_TERMS_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_PAYMENT_CYCLE.PAYMENT_CYCLE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_PAYMENT_CYCLE.PAYMENT_CYCLE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_PAYMENT_TERMS.PAYMENT_TERMS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_PAYMENT_TERMS.PAYMENT_TERMS_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_PLANT.PLANT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_PLANT.PLANT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_SALES_CATEGORY.SALES_CATEGORY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_SALES_CATEGORY.SALES_CATEGORY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_TERRITORY.TERRITORY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_TERRITORY.TERRITORY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUOTATION_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUOTATION_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUOTATION_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUOTATION_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SAL_NET_VALUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAL_NET_VALUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NET_VALUE_CURRENCY_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NET_VALUE_CURRENCY_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SAL_GROSS_VALUE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SAL_GROSS_VALUE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GROSS_VALUE_CURRENCY_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GROSS_VALUE_CURRENCY_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALES_RM_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALES_RM_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DELIVERY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DELIVERY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_RFQ_NO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_RFQ_NO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CUSTOMER_RFQ_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUSTOMER_RFQ_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUOTATION_EXPIRY_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUOTATION_EXPIRY_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INTERNAL_REMARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INTERNAL_REMARKS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REMARKS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REMARKS)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
