
@model Sciffer.Erp.Domain.ViewModel.mfg_tag_numbering_VM
@using Newtonsoft.Json

<h2>Edit</h2>
<script type="text/javascript">

    //$(function () {
    //    $('[id*=machine_id]').multiselect({
    //        includeSelectAllOption: false,
    //        enableFiltering: true,
    //        maxHeight: '200',
    //        enableCaseInsensitiveFiltering: true,
    //        allowClear: true,
    //        maximumResultsForSearch: 1,
    //        numberDisplayed: 0,
    //    });
    //});
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <input type="hidden" id="tag_numbering_id" name="tag_numbering_id"  class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-4 col-md-4 col-xs-12" style="text-align: right;">
                    From *
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <input type="number" id="from_number" name="from_number"  class="form-control" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-4 col-md-4 col-xs-12" style="text-align: right;">
                    To *
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <input type="number" id="to_number" name="to_number"  class="form-control" />
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-4 col-md-4 col-xs-12" style="text-align: right;">
                    Year *
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <select id="year" name="year"  class="form-control yr" required>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                    </select>
                    @*<input type="text" id="year" name="year" value="{{: year}}" class="form-control" />*@
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-4 col-md-4 col-xs-12" style="text-align: right;">
                    Month *
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <select id="month" name="month"  class="form-control" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    @*<input type="text" id="month" name="month" value="{{: month}}" class="form-control" />*@
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-4 col-md-4 col-xs-12" style="text-align: right;">
                    Prefix *
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <input type="text" id="prefix" name="prefix" class="form-control" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-4 col-md-4 col-xs-12" style="text-align: right;">
                    Current Number *
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <input type="text" id="current_number" name="current_number" class="form-control" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-4 col-md-4 col-xs-12" style="text-align: right;">
                    Item Name *
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.DropDownList("ITEM_ID", (System.Web.Mvc.SelectList)ViewBag.ItemList, "--Select--", htmlAttributes: new { @class = "form-control " })

                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="col-lg-4 col-md-4 col-xs-12" style="text-align: right;">
                    Machine Name *
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    @Html.DropDownList("machine_id", (System.Web.Mvc.SelectList)ViewBag.MachineList, "--Select--", htmlAttributes: new { @class = "form-control " })
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-2 col-md-2 col-xs-12" style="text-align: right;">
                Blocked
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="checkbox" id="is_blocked" name="is_blocked">
            </div>
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @* <input type="submit" value="Update"  class="btn btn-success" style="float:right" id="create" name="Edit"  onclick="DataTableToForm()" />*@
            <input type="submit" value="Update" class="btn btn-success" data-controller="TagNumberingController" style="float:right" id="create" name="Update" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/requirevalidation.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#is_blocked').checkboxpicker();
       var tool = @Html.Raw(JsonConvert.SerializeObject(this.Model));
           $("#tag_numbering_id").val(tool.tag_numbering_id);
           $("#from_number").val(tool.from_number);
           $("#to_number").val(tool.to_number);
           $("#current_number").val(tool.current_number);
           $("#prefix").val(tool.prefix);
           $("#year").val(tool.year);
           $("#month").val(tool.month);
           $("#ITEM_ID").val(tool.ITEM_ID);
            $("#machine_id").val(tool.machine_id);
            $("#is_blocked").val(tool.is_blocked);
            if ($("#is_blocked").val() == 'true')
            {
                $("#is_blocked").prop('checked', true);
            }
            else {
                $("#is_blocked").prop('checked', false);
            }

            $('#is_blocked').change(function () {
                if (this.checked) {
                    $(this).prop("checked", true);
                    $('#is_blocked').val(true);
                }
                else {
                    $(this).prop("checked", false);
                    $('#is_blocked').val(false);
                }
            });

            //$("#tool_operation_map_id").val(tool.tool_operation_map_id);
            ////$("#is_blocked").checkboxpicker();
            ////console.log($("#is_blocked").val());
        })
    </script>
}
