

@using Sciffer.Erp.Domain.ViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('.mickey').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            maxHeight: '200',
            enableCaseInsensitiveFiltering: true,
            allowClear: true,
            maximumResultsForSearch: 1,
            numberDisplayed: 0,
        });
    });
</script>

<div class="loading">Loading &#8230;</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class=row>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <label class="control-label col-md-4 col-lg-4 col-xs-12">From Date</label>
                <div class="col-md-8 col-lg-8 col-xs-12">
                    <input type="date" id="fromDate" class="form-control radius" required="required">
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <label class="control-label col-md-4 col-lg-4 col-xs-12">To Date</label>
                <div class="col-md-8 col-lg-8 col-xs-12">
                    <input type="date" id="toDate" class="form-control radius" required="required">
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="control-label col-md-4 col-lg-4 col-xs-12">
                    <label></label>
                </div>
                <div class="col-md-8 col-lg-8 col-xs-12">
                    <input type="hidden" id="in_out" name="in_out" value="1" />
                    <button class="searchbutton searchButton" id="search"> &nbsp; Run Report </button>
                </div>
            </div>
        </div>
        <br />
        <div class=row>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <label class="control-label col-md-4 col-lg-4 col-xs-12">Cash/Bank</label>
                <div class="col-md-8 col-lg-8 col-xs-12">
                    @Html.DropDownList("cash_bank", new List<SelectListItem>
                             {
                                new SelectListItem{ Text="All", Value = "0" },
                                new SelectListItem{ Text="Cash", Value = "1" },
                                new SelectListItem{ Text="Bank", Value = "2" }
                             }, new { @class = "form-control", @onchange = "GetBankAccountByBank(this.value)" })
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <label class="control-label col-md-4 col-lg-4 col-xs-12">Cash/Bank Account</label>
                <div class="col-md-8 col-lg-8 col-xs-12">
                    @Html.DropDownList("bank_account_id", Enumerable.Empty<SelectListItem>(), htmlAttributes: new { @class = "form-control multiselect mickey", @multiple = "multiple" })
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="searchresult">
            @* @Html.Partial("Partial_Test", (object)ViewBag)*@
        </div>
    </div>
</div>







<script type="text/javascript">

    $("#search").click(function () {
        AdvanceSearch();
    });
    document.getElementById('fromDate').valueAsDate = new Date();
    document.getElementById('toDate').valueAsDate = new Date();
    function GetBankAccountByBank(id) {
        if (id == "") {
            id = 2;
        }
        $("#bank_account_id").empty();
        var st;
        st = "";
        $.ajax({
            url: '@Url.Action("GetGLOrBankAccount", "Generic")',
            type: "GET",
            dataType: "JSON",
            data: { id: id },
            success: function (result) {
                if (id == 2) {
                    $.each(result, function (i, cycle) {
                        st+="<option value=" + cycle.bank_account_id + ">" + cycle.bank_account_code + "</option>";
                    });
                }
                else if (id == 1) {
                    $.each(result, function (i, cycle) {
                        st+="<option value=" + cycle.cash_account_id + ">" + cycle.cash_account_desc + "</option>";
                    });
                }
                $("#bank_account_id").html(st).show();
                $("#bank_account_id").multiselect('rebuild');
            }
        });
    }
    function AdvanceSearch() {
        var fromDate = $("#fromDate").val();
        var toDate = $("#toDate").val();
        var cash_bank = $("#cash_bank").val();

        if ($('#bank_account_id :selected').length > 0) {
            var selectedPriority = [];
            $('#bank_account_id :selected').each(function (i, selected) {
                selectedPriority[i] = $(selected).val();
            });
            var bank_accountid = selectedPriority + "";
        }
        $(".loading").show();
        $.ajax({
            url: "@Url.Action("Payment_Receipt_Report", "BankingReport")",
            method: "Post",
        cache: false,
        data: {
            entity: "getpaymentsummary", bank_cash_account_id: bank_accountid, from_date: fromDate, to_date: toDate, cash_bank: cash_bank,in_out:1
        },
        success: function (data) {
            $(".loading").hide();
            $('#searchresult').empty().append(data);
        },
        error: function (http) {
            console.log(XMLHttpRequest);
        }
    });
    }
</script>
<div class="modal"><!-- Place at bottom of page --></div>
