
@{
    ViewBag.Title = "Index";
}
<input type="search" class="search form-control" placeholder="Search Inventory Report" id="s" ; style="width:23.5%;">
<br />
<div id="hide">
    <div class="row display-flex">
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #5cb85c;">
                <div class="name panel-heading" style="background-color: #5cb85c;color: #fff;">
                    Inventory Ledger Detailed Report
                </div>
                <div class="panel-body">
                    <p>Provides details of report of all inventory movements including details of plant,sloc, bucket batch, qty</p>
                </div>
                <a href="@Url.Action("inventoryledgerdetailedreport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #f0ad4e;">
                <div class="name panel-heading" style="background-color: #f0ad4e;color: #fff;">
                    Inventory Ledger Summary Report
                </div>
                <div class="panel-body">
                    <p>Provides summary of opening, receipts, issues and closing stock of inventory</p>
                </div>
                <a href="@Url.Action("inventoryledgersummaryreport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #d9534f;">
                <div class="name panel-heading" style="background-color: #d9534f;color: #fff;">
                    Inventory Costing Report
                </div>
                <div class="panel-body">
                    <p>Provides costs current MAP/ STD. cost stored in the item master</p>
                </div>
                <a href="@Url.Action("inventorycostingreport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #337ab7;">
                <div class="name panel-heading" style="background-color: #337ab7;color: #fff;">
                    Inventory Valuation Report
                </div>
                <div class="panel-body">
                    <p>Provides stock quantity report with current values ( MAP/ STD cost)</p>
                </div>
                <a href="@Url.Action("inventoryvaluationreport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #5cb85c;">
                <div class="name panel-heading" style="background-color: #5cb85c;color: #fff;">
                    Goods Receipt Report
                </div>
                <div class="panel-body">
                    <p>Provides details of all Goods Receipts made alongwith details of plant, sloc, bucket, batch, quantity and rate </p>
                </div>
                <a href="@Url.Action("goodsreceiptreport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #f0ad4e;">
                <div class="name panel-heading" style="background-color: #f0ad4e;color: #fff;">
                    Goods Issue Report
                </div>
                <div class="panel-body">
                    <p>Provides details of all Goods Issues made alongwith details of plant, sloc, bucket, batch, quantity and rate </p>
                </div>
                <a href="@Url.Action("goodsissuereport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #d9534f;">
                <div class="name panel-heading" style="background-color: #d9534f;color: #fff;">
                    With In Plant Transfer Report
                </div>
                <div class="panel-body">
                    <p>Provides details of all Transfers within  same plant made alongwith details of plant, SLoc, bucket, batch, quantity and rate</p>
                </div>
                <a href="@Url.Action("withinplantrasferreport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #337ab7;">
                <div class="name panel-heading" style="background-color: #337ab7;color: #fff;">
                    Material Requisition Detailed Report
                </div>
                <div class="panel-body">
                    <p>Provides detail report of Material Requisition alongwith the relevant (issue / transfer ) document number </p>
                </div>
                <a href="@Url.Action("materialrequisitionreportstatusdetailedreport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #5cb85c;">
                <div class="name panel-heading" style="background-color: #5cb85c;color: #fff;">
                    Material Requisition Summary Report
                </div>
                <div class="panel-body">
                    <p>Provides summary report of Material Requisitions </p>
                </div>
                <a href="@Url.Action("materialrequisitionreportstatussummaryreport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #f0ad4e;">
                <div class="name panel-heading" style="background-color: #f0ad4e;color: #fff;">
                    Inventory Cascade Report
                </div>
                <div class="panel-body">
                    <p>Provides current stock report along with details of plant, sloc, bucket</p>
                </div>
                <a href="@Url.Action("inventorycascadereport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #d9534f;">
                <div class="name panel-heading" style="background-color: #d9534f;color: #fff;">
                    Item Accounting Report
                </div>
                <div class="panel-body">
                    <p>Provides list of all inventory related accounting ledgers mapped per item  </p>
                </div>
                <a href="@Url.Action("itemaccountingreport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #337ab7;">
                <div class="name panel-heading" style="background-color: #337ab7;color: #fff;">
                    Open Material Requisition Report
                </div>
                <div class="panel-body">
                    <p>Provides report of all Open Material Requisition</p>
                </div>
                <a href="@Url.Action("openmaterialrequisitionreport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        @*<div class="col-lg-3">
                <div class="panel panel-green" style="border-color: #5cb85c;">
                    <div class="name panel-heading" style="background-color: #5cb85c;color: #fff;">
                        Challan Wise Receipts, Issues & Balance Report
                    </div>
                    <div class="panel-body">
                        <p>Provides details of receipts, issues & balance quantity at challan level </p>
                    </div>
                    <a href="@Url.Action("StockRegister", "inventoryreport")" target="_blank">
                        <div class="panel-footer">
                            Run Report
                        </div>
                    </a>
                </div>
            </div>*@
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #5cb85c;">
                <div class="name panel-heading" style="background-color: #5cb85c;color: #fff;">
                    Stock Summary As Of Date Report
                </div>
                <div class="panel-body">
                    <p> Stock Summary As Of Date Report</p>
                </div>
                <a href="@Url.Action("StockSummaryAsOnDateReport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #f0ad4e;">
                <div class="name panel-heading" style="background-color: #f0ad4e;color: #fff;">
                    Material In Detail Report
                </div>
                <div class="panel-body">
                    <p> Material In Detail Report</p>
                </div>
                <a href="@Url.Action("MaterialInDetailReport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #d9534f;">
                <div class="name panel-heading" style="background-color: #d9534f;color: #fff;">
                    Material Out Detail Report
                </div>
                <div class="panel-body">
                    <p> Material Out Detail Report</p>
                </div>
                <a href="@Url.Action("MaterialOutDetailReport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #337ab7;">
                <div class="name panel-heading" style="background-color: #337ab7;color: #fff;">
                    Material Out - Material In Tracker
                </div>
                <div class="panel-body">
                    <p>Material Out - Material In Tracker</p>
                </div>
                <a href="@Url.Action("MaterialOutInTrackerReport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-green" style="border-color: #5cb85c;">
                <div class="name panel-heading" style="background-color: #5cb85c;color: #fff;">
                    Open Material Outward Report
                </div>
                <div class="panel-body">
                    <p>Open Material Outward Report</p>
                </div>
                <a href="@Url.Action("OpenMaterialOutwardReport", "inventoryreport")" target="_blank">
                    <div class="panel-footer">
                        Run Report
                    </div>
                </a>
            </div>
        </div>
        
    </div>
</div>
<script src="~/Scripts/requirevalidation.js"></script>
<script src="~/Scripts/RemoveUnexpectedFile.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#s").on("keyup click input", function () {
                if (this.value.length > 0) {
                    $(".col-lg-3").show().filter(function () {
                        return $(this).find('.name').text().toLowerCase().indexOf($("#s").val().toLowerCase()) == -1;
                    }).hide();
                }
                else {
                    $(".col-lg-3").show();
                }
            });

        });
    </script>
    <style>
        .row.display-flex {
            display: flex;
            flex-wrap: wrap;
        }

            .row.display-flex > [class*='col-'] {
                display: flex;
                flex-direction: column;
            }

        .panel {
            height: 100%;
            width: 100%;
        }

        .name {
            font-size: 15px;
            background-color: #5cb85c;
            color: #fff;
        }

        .panel-heading {
            height: 38px;
        }

        .panel-body {
            height: 90px;
        }

        p {
            font-size: 13px;
        }

        .panel-footer {
            font-size: 15px;
            color: #000;
            height: 40px;
        }
    </style>
}
