@model Sciffer.Erp.Domain.ViewModel.mfg_prod_order_VM
@using Newtonsoft.Json
@{
    ViewBag.Title = "Edit";
}

<br /><br /><br />

<div class="" role="tabpanel" data-example-id="togglable-tabs">
    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Production Order</a>
        </li>
        <li role="presentation" class="">
            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Process Sequence</a>
        </li>
        <li role="presentation" class="">
            <a href="#tab_content3" role="tab" id="profile-tab1" data-toggle="tab" aria-expanded="false">Update Tag Number</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

            @using (Html.BeginForm("Edit", "ProductionOrder", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            <div id="bomdiv"></div>
            @Html.AntiForgeryToken()
            <div class="area">
                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.prod_order_id)

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            Category
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownList("category_id", (System.Web.Mvc.SelectList)ViewBag.categorylist, htmlAttributes: new { @class = "form-control item", required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-3">
                            Order Date
                        </div>
                        <div class="col-md-9">
                            <input type="date" id="prod_order_date" name="prod_order_date" class="form-control" />
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            Select Shift
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownList("shift_id", (System.Web.Mvc.SelectList)ViewBag.SHIFT, "--Select--", htmlAttributes: new { @class = "form-control item", required = "required" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-3">
                            Select Plant
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownList("plant_id", (System.Web.Mvc.SelectList)ViewBag.PLANT, "--Select--", htmlAttributes: new { @class = "form-control item", required = "required" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            Out Item Code
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownList("out_item_id", (System.Web.Mvc.SelectList)ViewBag.ITEM, "--Select Item--", htmlAttributes: new { @class = "form-control validinput", @required = true, @onchange = "GetUnit(this.value)" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-3">
                            Process Sequence
                        </div>
                        <div class="col-md-9">
                            <select class="form-control" id="process_seq_alt_id" name="process_seq_alt_id"></select>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            Select BOM
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownList("mfg_bom_id", (System.Web.Mvc.SelectList)ViewBag.BOM, "--Select--", htmlAttributes: new { @class = "form-control item", required = "required" })
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="col-md-3">
                            Enter Quantity
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="quantity" name="quantity">
                        </div>
                        <div class="col-md-3">
                            @Html.DropDownList("Uom_id", (System.Web.Mvc.SelectList)ViewBag.Uom_list, "---Select---", new { @class = "form-control col-md-7 col-xs-12", @disabled = "disabled" })
                        </div>
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            Child SLoc
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownList("child_sloc_id", Enumerable.Empty<SelectListItem>(), "--Select--", htmlAttributes: new { @class = "form-control validinput", @required = true })
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-3">
                            Parent Sloc
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownList("parent_sloc_id", Enumerable.Empty<SelectListItem>(), "--Select--", htmlAttributes: new { @class = "form-control validinput", @required = true })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <div class="col-md-3">
                            Remarks
                        </div>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="remarks" name="remarks" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="col-md-3">
                            Is Blocked
                        </div>
                        <div class="col-md-8">
                            <input type="checkbox" id="IS_BLOCKED">
                            <input type="hidden" name="is_blocked" id="is_blocked" />
                        </div>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">BOM List</div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-responsive table-bordered table-striped" id="BOMGrid">
                                    <thead>
                                        <tr>
                                            <th><label>ProdOrderDetailId</label></th>
                                            <th><label>Sr. No.</label></th>
                                            <th><label>Item Id</label></th>
                                            <th><label>Item Description</label></th>
                                            <th><label>Quantity</label></th>
                                            <th><label>UOM Id</label></th>
                                            <th><label>UoM</label></th>
                                            <th><label>Batch Id</label></th>
                                            <th><label>Batch Number</label></th>
                                            <th><label>Batch Detail Id</label></th>
                                            <th><label>Action</label></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="hidden" id="sr_no" />
                                <input type="submit" value="Update" data-controller="ProductionController" class="btn btn-success" onclick="TabletoJeson();" style="float:right" id="create" name="create" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            }
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

            <style>
                #droppable {
                    width: 60px;
                    margin: 10px;
                    color: #ffffff;
                    padding: 10px;
                    background-color: #bd0a0a;
                }

                .sortable {
                    border: 5px double #fff;
                    width: 100%;
                    min-height: 50px;
                    padding: 5px 0px 10px 5px;
                    float: left;
                    margin-right: 10px;
                    overflow: hidden;
                    background-color: #5a84af;
                }

                    .sortable span {
                        border: 2px solid;
                        font-weight: bold;
                        font-size: 1.8em;
                        padding: 0px 5px 5px 5px;
                        cursor: pointer;
                        background-color: #ffffff;
                        color: black;
                    }

                #draggable1 {
                    border: 5px groove #f5f7fa;
                    min-height: 50px;
                    padding: 5px 0px 10px 5px;
                    float: left;
                    overflow: hidden;
                }

                    #draggable1 div span {
                        border: 1px solid #000000;
                        margin: 0px 5px 0px 0px;
                        font-weight: bold;
                        font-size: 1.8em;
                        padding: 0px 12px 0px 10px;
                        cursor: pointer;
                        background-color: #402a54;
                        color: #ffffff;
                    }

                .divaddbutton {
                    float: right;
                    background-color: #ffffff;
                    color: green;
                }

                #new_sequence_created {
                    border: 5px groove #f5f7fa;
                }

                .divclosebutton {
                    float: right;
                    background-color: #ffffff;
                    color: red;
                }

                #operation_list_div {
                    border: 5px double #f5f7fa;
                }

                .operation_name_div {
                    border: 5px double #fff;
                    width: 100%;
                    min-height: 70px;
                    padding: 5px 0px 10px 5px;
                    float: left;
                    margin-right: 10px;
                    overflow: hidden;
                    background-color: #5a84af;
                }

                    .operation_name_div span {
                        border: 1px solid #dad55e;
                        font-weight: bold;
                        margin: 5px 5px 5px 0px;
                        font-size: 1.8em;
                        padding: 0px 5px 0px 5px;
                        cursor: pointer;
                        background: #fff;
                        color: black;
                    }
            </style>

            <div class="col-md-12">
                <div id="draggable1" class="col-md-4" style="height:450px; overflow: scroll;">
                    <h4>Machine List</h4><hr />
                    @foreach (var item in ViewBag.machine_list)
            {
                        <div>
                            <span class="draggble ui-state-highlight ui-sortable-handle">
                                <input type="hidden" value="@item.machine_id" /> @item.machine_code
                            </span>
                        </div>
                        <br />
                    }
                </div>
                <div id="new_sequence_created" class="col-md-7" style="height:450px; overflow-y: scroll; overflow-x:hidden">
                    @{
                        <h4>Operation Sequence</h4><hr />
                        var machine_count = ViewBag.machine_list.Count;
                        var sequence_count = ViewBag.sequence_list.Count;
                        for (int i = 0; i < sequence_count; i++)
                        {
                            @*<div class="col-md-4 operation_name">Operation @(i + 1)</div>*@

                            <div class="sorted_new_sequence sortable connectedSortable" name="sorted_new_sequence">
                                @{
                                    var sequence_string = ViewBag.sequence_list[i];
                                    foreach (var item in ViewBag.machine_list)
                                    {
                                        if (sequence_string == item.machine_id.ToString())
                                        {
                                            <span class="ui-state-highlight ui-sortable-handle"><input type="hidden" value="@item.machine_id" /> @item.machine_code</span>
                                        }
                                        else
                                        {
                                            var sequence_array = sequence_string.Split('/');
                                            foreach (var xx in sequence_array)
                                            {
                                                if (xx == item.machine_id.ToString())
                                                {
                                                    <span class="ui-state-highlight ui-sortable-handle"><input type="hidden" value="@item.machine_id" /> @item.machine_code</span>
                                                }
                                            }
                                        }
                                    }
                                }
                                @*<button class="divaddbutton btn btn-sm glyphicon glyphicon-plus"></button>&nbsp;*@
                                @*<button class="divclosebutton btn btn-sm glyphicon glyphicon-remove"></button>*@
                            </div>
                                    }
                    }
                </div>
                <div id="droppable" class="col-md-1 btn btn-lg glyphicon glyphicon-trash sortable connectedSortable ui-widget-header">

                </div>
            </div>
            <br /><br />
            <script>
                $(function() {
                    $( ".sortable").sortable({
                        connectWith: ".connectedSortable",
                        placeholder: "ui-state-highlight",
                    }).disableSelection();

                    $( ".draggble" ).draggable({
                        connectToSortable: ".connectedSortable",
                        helper: "clone",
                        revert: "invalid",
                    }).disableSelection();

                    $( "#droppable" ).droppable({
                        drop: function(event, ui) {
                            $( this )
                            .addClass( "ui-state-highlight" )
                            ui.draggable.remove();
                        }
                    });

                    var drpOptions = {
                        drop: function(event, ui) {
                            console.log(ui);
                            $(this).append(
                                ui.draggable.clone().html());
                        }
                    };

                    $(".divaddbutton").click(function(){
                        var div = $(this).parent('div');
                        $('<div class="sorted_new_sequence sortable connectedSortable" name="sorted_new_sequence"></div>')
                        .sortable({connectWith: ".connectedSortable",placeholder: "ui-state-highlight",}).disableSelection().insertAfter(div);
                    });

                    $(".divclosebutton").click(function(){
                        var div = $(this).parent('div');
                        div.remove();
                    });

                    $( "#new_sequence_created" ).sortable();
                    $( "#new_sequence_created" ).disableSelection();

                    $(function () {
                        $('#operation_list_div').scroll(function () {
                            $('#new_sequence_created').scrollTop($(this).scrollTop());
                        });
                        $('#new_sequence_created').scroll(function () {
                            $('#operation_list_div').scrollTop($(this).scrollTop());
                        });
                    });

                });
            </script>

            <div class="row">
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="button" value="Update Sequence" class="btn btn-success" style="float:right" id="update_sequence" name="update_sequence" />
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-3">
                        <lable> Source Machine </lable>
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownList("machine_id", (System.Web.Mvc.SelectList)ViewBag.Machine_List1, new { @class = "form-control multiselect", @multiple = "multiple", @required = true })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-3">
                        <label> Destination Machine </label>
                    </div>
                    <div class="col-md-9">
                        @Html.DropDownList("destination_machine_id", (System.Web.Mvc.SelectList)ViewBag.Machine_List1, new { @class = "form-control multiselect", @multiple = "multiple", @required = true })
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-2 pull-right">

                        <input type="button" id="machine_list_btn" value="Get Tag No" class="btn btn-success">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-2 pull-right">
                        <input type="button" id="update_tag_no" value="Update" class="btn btn-success">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="table-responsive">
                    <table class="table table-responsive table-bordered table-striped " id="MachineGrid"></table>
                </div>
            </div>

            <br /><br />
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>


<script src="~/Scripts/RemoveUnexpectedFile.js"></script>
<script src="~/Scripts/requirevalidation.js"></script>


<div class="modal" id="SelectBatch" data-toggle="modal" data-dismiss="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Item Details</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="batch_detail_id" />
                <input type="hidden" id="batch_sloc_id" />
                <input type="hidden" id="batch_plant_id" />
                <div class="row">
                    <label class="control-label col-md-2">
                        Item *
                    </label>
                    <div class="col-md-6">
                        @Html.DropDownList("batch_item_id", (System.Web.Mvc.SelectList)ViewBag.ITEM, "---Select---", new { @class = "form-control ", @disabled = "disabled" })
                    </div>
                    <label class="control-label col-md-2">
                        Order Qty
                    </label>
                    <div class="col-sm-2">
                        <input type="text" id="qty" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="table table-responsive table-bordered table-striped" id="BatchGrid">
                                <thead>
                                    <tr>
                                        <th><label>BatchID</label></th>
                                        <th><label>BatchDetail Id</label></th>
                                        <th><label>Sr. No.</label></th>
                                        <th><label>Batch</label></th>
                                        <th><label>Expiry Date</label></th>
                                        <th><label>Batch Qty</label></th>
                                        <th><label>Balance Qty</label></th>
                                        <th><labl>Use</labl></th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="addBatchTotal btn btn-primary">Add/Close </button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var psid;
        var psloc;
        var csloc;
        var bom_id;
        $(document).ready(function () {
            $('.multiselect').multiselect({
                includeSelectAllOption: true,
                enableFiltering: true,
                maxHeight: '200',
                enableCaseInsensitiveFiltering: true,
                allowClear: true,
                maximumResultsForSearch: 1,
                numberDisplayed: 0,
            });

            //$("#destination_machine_id").prop('disabled','disabled');
            $("#destination_machine_id").multiselect("disable");
            $("#update_tag_no").prop('disabled','disabled');

            var data = @Html.Raw(JsonConvert.SerializeObject(this.Model));

            psid = data.mfg_process_seq_alt.process_seq_alt_id;
            psloc = data.parent_sloc_id;
            csloc = data.child_sloc_id;
            bom_id = data.mfg_prod_order_bom[0].mfg_bom_id
            $("#prod_order_no").val(data.prod_order_no);
            //$("#mfg_bom_id").val(data.mfg_prod_order_bom[0].mfg_bom_id);
            $("#prod_order_date").val(data.prod_order_date_str);
            $("#quantity").val(data.quantity);
            $("#plant_id").val(data.plant_id).trigger('change');
            $("#child_sloc_id").val(data.child_sloc_id);
            $("#out_item_id").val(data.out_item_id).trigger('change');
            $("#parent_sloc_id").val(data.parent_sloc_id);
            $("#remarks").val(data.remarks);
            $("#shift_id").val(data.shift_id);
            $("#uom_id").val(data.uom_id);

            //console.log(psid);
            $("#category_id").prop('disabled','disabled');
            $("#mfg_bom_id").prop('disabled','disabled');
            $("#prod_order_date").prop('disabled','disabled');
            $("#quantity").prop('disabled','disabled');
            $("#plant_id").prop('disabled','disabled');
            $("#child_sloc_id").prop('disabled','disabled');
            $("#out_item_id").prop('disabled','disabled');
            $("#parent_sloc_id").prop('disabled','disabled');
            $("#remarks").prop('disabled','disabled');
            $("#shift_id").prop('disabled','disabled');
            $("#uom_id").prop('disabled','disabled');
            $("#process_sequence_id").prop('disabled','disabled');

            $("#is_blocked").val(data.is_blocked);
            if (data.is_blocked == true) {
                //Check
                document.getElementById('IS_BLOCKED').setAttribute('checked', 'checked');
            }
            else {
                //UnCheck
                document.getElementById('IS_BLOCKED').removeAttribute('checked');
            }
            $('#IS_BLOCKED').checkboxpicker();

            var tp = $("#BOMGrid").DataTable();
            var sr_no3 = tp.fnGetData().length+1;

            var j=1;

            $.each(data.mfg_prod_order_detail , function(key, value){
                if(value.inv_item_batch_detail == null){
                    tp.fnAddData([
                    value.prod_order_detail_id,
                    sr_no3,
                    value.in_item_id,
                    value.REF_ITEM.ITEM_CODE + " - " +value.REF_ITEM.ITEM_NAME,
                    value.quantity,
                    value.in_uom_id,
                    value.REF_UOM.UOM_NAME,
                    '',
                    '',
                    '',
                    '']);
                }
                else{
                    tp.fnAddData([
                    value.prod_order_detail_id,
                    sr_no3,
                    value.in_item_id,
                    value.REF_ITEM.ITEM_CODE + " - " +value.REF_ITEM.ITEM_NAME,
                    value.quantity,
                    value.in_uom_id,
                    value.REF_UOM.UOM_NAME,
                    value.batch_id,
                    value.inv_item_batch_detail.inv_item_batch.batch_number,
                    value.item_batch_detail_id,
                    '']);
                }

                j=j+1;
                sr_no3++;
            });

            $('#IS_BLOCKED').change(function() {
                if($(this).is(":checked")) {
                    $("#is_blocked").val(true);
                }
                else{
                    $("#is_blocked").val(false);
                }

            });
        })


        function GetUnit(id) {
            if (id != '') {

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetUnitofItem", "Generic")',
                    data: { id: id },
                    success: function (ITEM) {
                        $('#Uom_id').val(ITEM.item);
                    },
                    error: function (emp) {
                        $('#Uom_id').val('');
                    }
                });
            }
            else {
                $('#Uom_id').val('');
            }

        }

        function GetDocumentNumber(id) {
            if (id != '') {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetDocumentNumbering", "Generic")',
                    data: { id: id },
                    success: function (ITEM) {
                        $('#prod_order_no').val(ITEM);
                    },
                    error: function (emp) {
                        $('#prod_order_no').val('');
                    }
                });
            }
            else {
                $('#prod_order_no').val('');
            }
        }

        $("#out_item_id").change(function () {
            var item = $("#out_item_id").val();

            if (item != "") {
                $.ajax({
                    url: "@Url.Action("GetBOMForItem", "ProductionOrder")",
                    method: "POST",
                    cache: false,
                    data: { out_item_id: item },
                    success: function (data) {
                        $("#mfg_bom_id").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#mfg_bom_id").append('<option value="' + data[i].Value + '">' + data[i].Text + '</option>');
                        }
                        $("#mfg_bom_id").val(bom_id).trigger('change');
                    }
                })

                $.ajax({
                    url: "@Url.Action("Getprocess_seq", "ProductionOrder")",
                    method: "POST",
                    cache: false,
                    data: { item: item },
                    success: function (data) {
                        $("#process_seq_alt_id").empty();
                        $("#process_seq_alt_id").append('<option value="">-- Select --</option>');
                        for (var i = 0; i < data.length; i++) {
                            $("#process_seq_alt_id").append('<option value="' + data[i].Value + '">' + data[i].Text + '</option>');
                        }
                        $("#process_seq_alt_id").val(psid).trigger('change');
                        $("#process_seq_alt_id").prop("disabled",true);
                    }

                })
            }

        });

        $("#plant_id").change(function () {
            $.ajax({
                url: "@Url.Action("GetStorageLocation", "Generic")",
                method: "POST",
                cache: false,
                data: { id: $(this).val() },
                success: function (data) {

                    $("#child_sloc_id").empty();
                    for (var i = 0; i < data.length; i++) {
                        $("#child_sloc_id").append('<option value="' + data[i].storage_location_id + '">' + data[i].storage_location_name + '</option>');
                    }
                    $("#parent_sloc_id").empty();
                    for (var i = 0; i < data.length; i++) {
                        $("#parent_sloc_id").append('<option value="' + data[i].storage_location_id + '">' + data[i].storage_location_name + '</option>');
                    }

                    $("#child_sloc_id").val(csloc).trigger('change');
                    $("#parent_sloc_id").val(psloc).trigger('change');
                }
            })
        })

        $("#quantity").change(function () {
            $.ajax({
                url: "@Url.Action("GetBOMGridData", "ProductionOrder")",
                method: "POST",
                cache: false,
                data: { bom_id: $("#mfg_bom_id").val(), itemquantity: $("#quantity").val() },
                success: function (data) {

                    var t = $('#BOMGrid').DataTable();
                    var rowCount = t.fnGetData().length;
                    t.fnClearTable();
                    for (var i = 0; i < data.length; i++) {
                        rowCount = rowCount + 1;
                        if ($("#sr_no").val() == "") {
                            t.fnAddData([data[i].prod_order_detail_id,rowCount, data[i].in_item_id, data[i].in_item_code, data[i].calculated_qty, data[i].in_uom_id, data[i].in_uom_name, '', '', '', '']);

                        }
                    }

                }
            })
        });

        $('#BOMGrid').DataTable({
            "bPaginate": false,
            "ordering": false,
            "bfooter": false,
            "info": false,
            "bLengthChange": false,
            "bAutoWidth": false,
            "bFilter": false,
            "bSort": false,
            aoColumns: [
                    { sname: "p" , bVisible: false },
                     { sname: "a" },
                     { sname: "b", bVisible: false },
                     { sname: "c" },
                     { sname: "d" },
                     { sname: "e", bVisible: false },
                     { sname: "f" },
                     { sname: "g", bVisible: false },
                     { sname: "h" },
                     { sname: "i", bVisible: false },
                     {
                         sname: "m", sWidth: "8%",
                         bSortable: false,
                         mRender: function (data, type, full) {
                             return '<button type="button" class="btn btn-primary batchClass" disabled="disabled"><span class="glyphicon glyphicon-plus"></span></button>';
                         }
                     }]

        });

        $(document).on('click', '.batchClass', function () {
            var t = $('#BOMGrid').DataTable();
            var id = $(this).parent('td').parent('tr').index();
            var i = 0;

            var batch_item_id = t.fnGetData(id)[1];
            var batch_quantity = t.fnGetData(id)[3];
            var uom_id = t.fnGetData(id)[4];
            var batch_sloc_id = $("#child_sloc_id").val();
            var batch_plant_id = $("#plant_id").val();

            $("#batch_item_id").val(batch_item_id);
            $("#qty").val(batch_quantity);
            $("#batch_sloc_id").val(batch_sloc_id);
            $("#batch_plant_id").val(batch_plant_id);

            var t1 = $('#BatchGrid').DataTable();
            t1.fnClearTable();
            var rowCount = t1.fnGetData().length;

            $('#SelectBatch').modal();
            $.ajax({
                url: '@Url.Action("BatchListWithQuantity", "Generic")',
                type: "GET",
                dataType: "JSON",
                async: false,
                data: { item_id: batch_item_id, plant_id: batch_plant_id, sloc_id: batch_sloc_id },
                cache: false,
                //processData: false,
                success: function (batch) {

                    $.each(batch, function (key, cycle) {
                        var dateString = cycle.expirary_date;
                        var substringedDate = dateString.substring(6);
                        var parsedIntDate = parseInt(substringedDate);
                        var date = new Date(parsedIntDate);
                        var month = date.getMonth();
                        if (month < 10) {
                            month = '0' + month;
                        }
                        var day = date.getDate();
                        if (day < 10) {
                            day = '0' + date;
                        }
                        var year = date.getFullYear();
                        expdate = day + "-" + month + "-" + year;
                        t1.fnAddData([cycle.item_batch_id, cycle.item_batch_detail_id, i + 1, cycle.batch_number, expdate, cycle.qty,
                        cycle.balance_qty, '<input type="checkbox" id="batchselect' + i + '" onchange="addbatchdetails(' + i + ',' + id + ')" class="price form-control"/>'
                        ]);

                        i = i + 1;
                    });

                }
            });

        });

        function addbatchdetails(i, bomid) {
            var t = $("#BatchGrid").DataTable();
            var rowCount = t.fnGetData().length;
            for (var k = 0; k < rowCount; k++) {
                if (i != k) {
                    $("#batchselect" + k).removeAttr('checked');
                }
            }
            var item_batch_id = t.fnGetData(i)[0];
            var item_batch_detail_id = t.fnGetData(i)[1];
            var batch_number = t.fnGetData(i)[3];
            var balance_qty = t.fnGetData(i)[6];
            var orderqty = $("#qty").val();

            if (balance_qty < orderqty) {
                swal("Balance quantity is less than order quantity", "Please select another batch or update order quantity", "warning");
            }
            else {
                var t1 = $("#BOMGrid").DataTable();

                var item_id = t1.fnGetData(bomid)[1];
                var item_description = t1.fnGetData(bomid)[2];
                var quantity = t1.fnGetData(bomid)[3];
                var uomid = t1.fnGetData(bomid)[4];
                var uom = t1.fnGetData(bomid)[5];

                var rowCount = t1.fnGetData().length;

                t1.fnUpdate([bomid + 1, item_id, item_description, quantity, uomid, uom, item_batch_id, batch_number, item_batch_detail_id, ''], bomid);
                $("#SelectBatch").modal('hide');
            }
        }


        $('#BatchGrid').DataTable({
            "bPaginate": false,
            "ordering": false,
            "bfooter": false,
            "info": false,
            "bLengthChange": false,
            "bAutoWidth": false,
            "bFilter": false,
            "bSort": false,
            aoColumns: [
                     { sname: "a", bVisible: false },
                     { sname: "b", bVisible: false },
                     { sname: "c", bVisible: true },
                     { sname: "d" },
                     { sname: "e", bVisible: true },
                     { sname: "f" },
                     { sname: "g", bVisible: true },
                     { sname: "h", bVisible: true },
            ]
        });

        function TabletoJeson() {
            $("#prod_order_no").prop("disabled", false);
            $("#uom_id").prop("disabled", false);

            var t = $("#BOMGrid").DataTable();
            var rowCount = t.fnGetData().length;

            for (var i = 0; i < rowCount; i++) {
                $("#bomdiv").append('<input type="hidden" id="batch_in_item_id' + i + '" name="batch_in_item_id">');
                $("#bomdiv").append('<input type="hidden" id="batch_quantity' + i + '" name="batch_quantity">');
                $("#bomdiv").append('<input type="hidden" id="batch_in_uom_id' + i + '" name="batch_in_uom_id">');
                $("#bomdiv").append('<input type="hidden" id="item_batch_id' + i + '" name="item_batch_id">');
                $("#bomdiv").append('<input type="hidden" id="item_batch_detail_id' + i + '" name="item_batch_detail_id">');

                $("#batch_in_item_id" + i).val(t.fnGetData(i)[1]);
                $("#batch_quantity" + i).val(t.fnGetData(i)[3]);
                $("#batch_in_uom_id" + i).val(t.fnGetData(i)[4]);
                $("#item_batch_id" + i).val(t.fnGetData(i)[6]);
                $("#item_batch_detail_id" + i).val(t.fnGetData(i)[8]);
            }

            return true;
        }

        //-------------------------------Sequence Data-----------------------------

        $("#update_sequence").click(function(){
            var flag = 1;
            var count = @ViewBag.sequence_list.Count;
            var process_sequence = [];

            $(".sorted_new_sequence").each(function(i){
                var machine_ids = [];
                $(this).find('span').children().each(function(){

                    var mid = $(this).val();
                    machine_ids.push(mid);
                });
                //if(machine_ids.length > 1){
                 //   flag = 0;
                //    return false;
                //}
                machine_ids = machine_ids.join('/');
                process_sequence.push(machine_ids);
            })
            //console.log(process_sequence);
            //for(var i = 0; i < count; i++){
            //    var machine_ids = [];
            //    $("#new_sorted_sequence-" + i).find('span').each(function(i){
            //        var mid = $(this).find('input').val();
            //        machine_ids.push(mid);
            //    });
            //    machine_ids = machine_ids.join('/');
            //    process_sequence.push(machine_ids);
            //}
                process_sequence = process_sequence.filter(function(entry) { return entry.trim() != ''; });
                process_sequence = process_sequence.join(',');

                $.ajax({
                    url: "@Url.Action("UpdateProcessSequence", "ProductionOrder")",
                    method: "POST",
                    cache: false,
                    data: { id: $("#prod_order_id").val(), process_sequence: process_sequence },
                    success: function (data) {
                        if(data == 'success'){
                            swal("","Process Sequence Updated Successfully","success");
                        }
                        else{
                            swal("","Something went wrong","error");
                        }
                    }
                })
            
        });

        $('#MachineGrid').DataTable({
            "bPaginate": false,
            "ordering": false,
            "bfooter": false,
            "info": false,
            "bLengthChange": false,
            "bAutoWidth": false,
            "bFilter": false,
            "bSort": false,
            "columns": [
                { "data": "tag_no", bVisible: true, "title": "Tag Number" },
               // { "data": "machine_code", bVisible: true, "title": "Machine" },
               //{ "data": "status_name", bVisible: true, "title": "Status" },
            ],

        });

        $("#machine_list_btn").click(function(){

            var machine = $("#machine_id").val();
            var prod_order_detail_id = $("#prod_order_detail_id").val();
            if ($('#machine_id :selected').length > 0) {
                var selectedmachineid = [];
                $('#machine_id :selected').each(function (i, selected) {
                    selectedmachineid[i] = $(selected).val();
                });
                var machineid = selectedmachineid.join('/') + "";
            }
            else
            {
                swal("","Please select Source Machine","error");
                var t2 = $('#MachineGrid').DataTable();
                t2.fnClearTable();
                return false;
            }

            $.ajax({
                url: "@Url.Action("GetTagNumbers", "ProductionOrder")",
                method: "post",
                data: { machine: machineid, prod_order_id: $('#prod_order_id').val()},
                success: function (data) {
                    var t2 = $('#MachineGrid').DataTable();
                    t2.fnClearTable();
                    t2.fnAddData(data);
                }
            })

            $("#destination_machine_id").multiselect("enable");
            $("#update_tag_no").removeAttr("disabled");
        })

        $("#update_tag_no").click(function(){


            var sourcemachine = $("#machine_id").val();
            var prod_order_detail_id = $("#prod_order_detail_id").val();
            if ($('#machine_id :selected').length > 0) {
                var selectedsourcemachine = [];
                $('#machine_id :selected').each(function (i, selected) {
                    selectedsourcemachine[i] = $(selected).val();
                });
                var sourcemachine = selectedsourcemachine.join('/') + "";
            }


            var destinationmachine = $("#destination_machine_id").val();
            var prod_order_detail_id = $("#prod_order_detail_id").val();
            if ($('#destination_machine_id :selected').length > 0) {
                var selecteddestinationmachine = [];
                $('#destination_machine_id :selected').each(function (i, selected) {
                    selecteddestinationmachine[i] = $(selected).val();
                });
                var destinationmachine = selecteddestinationmachine.join('/') + "";
            }
            else
            {
                swal("","Please select Destination Machine","error");
                return false;
            }

            $.ajax({
                url: "@Url.Action("UpdateTagNumbers", "ProductionOrder")",
                method: "post",
                data: { source :sourcemachine ,destination: destinationmachine, prod_order_id: $('#prod_order_id').val()},
                success:function(data){
                    console.log(data);
                    if(data.includes('saved')||data.includes('Saved')){
                        swal("","Update Sucessfully","success");
                        var t2 = $('#MachineGrid').DataTable();
                        t2.fnClearTable();
                        //$("#destination_machine_id option:selected").prop("selected", false);
                        //$("#destination_machine_id").removeAttr("selected");
                       // $("#destination_machine_id").multiselect("remove");
                        $("#destination_machine_id").multiselect("disable");
                        $("#update_tag_no").prop('disabled','disabled');

                    }
                    else{
                        swal("",data,"error");
                    }
                }
            })
        })


    </script>
}
