@model Sciffer.Erp.Domain.ViewModel.inv_material_out_VM
@using Newtonsoft.Json
@{
    ViewBag.Title = "Edit";
}
@using (Html.BeginForm("Edit", "MaterialOut", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
   @Html.AntiForgeryToken()
    <div class="form-horizontal" style="margin-top:10px;">
        <div id="inv_material_out_detail" hidden></div>
           
        <input type="hidden" id="diff1" />
        <input type="hidden" id="diff2" />
        <input type="hidden" id="deleteids" name="deleteids" />
        @Html.HiddenFor(a => a.gross_value)
        @Html.HiddenFor(a => a.net_value)
        @Html.HiddenFor(a => a.material_out_id)
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.category_id, "Document Category *", new { @class = "control-label col-md-4" })
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <input type="hidden" id="pla_transfer_is_active" name="pla_transfer_is_active" value="true" />
                            @Html.DropDownList("category_id", (System.Web.Mvc.SelectList)ViewBag.category_list, new { @class = "form-control category validinput", @required = true })
                            @Html.ValidationMessageFor(model => model.category_id, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.document_number, new { @class = "control-label col-md-4 hidden" })
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            @Html.EditorFor(model => model.document_number, new { htmlAttributes = new { @class = "form-control num validinput removedisabled", @required = true, @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.document_number, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                    <div class="col-lg-6 col-sm-6">
                        <label class="control-label col-md-4 col-lg-4 col-xs-12">Returnable / Non-Returnable *</label>
                        <div class="col-md-8 col-lg-8 col-xs-12">
                            @Html.DropDownList("returnable_nonreturnable", new List<SelectListItem>
                             {
                                new SelectListItem{ Text="Returnable", Value = "1" },
                                new SelectListItem{ Text="NonReturnable", Value = "2" }
                             }, new { @class = "form-control", @onchange = "GetBankAccountByBank(this.value)" })
                        </div>
                    </div>
               
            </div>
                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.posting_date, "Posting Date *", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                @Html.EditorFor(model => model.posting_date, new { htmlAttributes = new { @class = "form-control postingdocumentdate postingdate validinput", @required = true } })
                                @Html.ValidationMessageFor(model => model.posting_date, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
               

            
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.vendor_id, "Vendor *", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            @Html.DropDownList("vendor_id", (System.Web.Mvc.SelectList)ViewBag.vendorlist, "---Select---", htmlAttributes: new { @class = "form-control removedisabled", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.vendor_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.status_id, "Status", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            @Html.DropDownList("status_id", (System.Web.Mvc.SelectList)ViewBag.status_list, htmlAttributes: new { Class = "form-control removedisabled", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.status_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            </div>


        <div class="panel panel-body" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li class="active"><a data-toggle="tab" href="#sectionA">General</a></li>
                <li><a data-toggle="tab" href="#sectionB">Item</a></li>
                <li><a data-toggle="tab" href="#sectionE">Information</a></li>

            </ul>
            <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.business_unit_id, "Business Unit *", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.DropDownList("business_unit_id", (System.Web.Mvc.SelectList)ViewBag.businesslist, "---Select---", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.business_unit_id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.plant_id, "Plant *", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.DropDownList("plant_id", (System.Web.Mvc.SelectList)ViewBag.plant_list, "---Select---", new { @class = "form-control", @onchange = "GetStorageLocation(this.value);" })
                                    @Html.ValidationMessageFor(model => model.plant_id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ge_number, "Gate Entry Number *", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.EditorFor(model => model.ge_number, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ge_number, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ge_date, "Gate Entry Date *", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.EditorFor(model => model.ge_date, new { htmlAttributes = new { @class = "form-control postingdocumentdate validinput", @required = true } })
                                    @Html.ValidationMessageFor(model => model.ge_date, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.employee_id, "Employee *", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.DropDownList("employee_id", (System.Web.Mvc.SelectList)ViewBag.employeelist, "---Select---", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.employee_id, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div id="sectionB" class="tab-pane fade" style="margin-top:10px;">

                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button type="button" class="btn btn-primary" style="float:right" data-toggle="modal" onclick="clearmodel();" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span>Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-responsive table-bordered table-striped" id="ContactGrid">
                                <thead>
                                    <tr>
                                        <th hidden><label>ID</label></th> <!--0-->
                                        <th><label>Sr. No.</label></th> <!--1-->
                                        <th><label hidden>Item Code</label></th> <!--2-->
                                        <th><label>Item</label></th> <!--3-->
                                        <th><label>User Description</label></th> <!--4-->
                                        <th><label>Quantity</label></th> <!--5-->
                                        <th><label>HSN</label></th> <!--6-->
                                        <th><label>Tax Code</label></th> <!--7-->
                                        <th><label>Rate</label></th> <!--8-->
                                        <th><label>Value</label></th> <!--9-->
                                        <th hidden><label>UOM ID</label></th> <!--10-->
                                        <th><label>UoM</label></th> <!--11-->
                                        <th><label>Reason</label></th> <!--12-->
                                        <th><label>Expected Return Date</label></th> <!--13-->
                                        <th><label>Remarks</label></th> <!--14-->
                                        <th hidden><label>HSN id</label></th> <!--15-->
                                        <th hidden><label>tax id</label></th> <!--16-->
                                        <th><label>Action</label></th> <!--17-->
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="table-responsive">
                                <table class="table table-responsive table-bordered table-striped taxgrid" id="TaxGrid"></table>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="sectionE" class="tab-pane fade" style="margin-top:10px;">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.internal_remarks, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.EditorFor(model => model.internal_remarks, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.internal_remarks, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.remarks_on_document, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    @Html.EditorFor(model => model.remarks_on_document, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.remarks_on_document, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="productdetail" name="productdetail" />
                        <input type="hidden" id="formdetail" name="formdetail" />
                        <input type="hidden" id="deleteids" name="deleteids" />
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.attachement, "Attachment", htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                                <div class="col-md-8 col-sm-8 col-xs-12">
                                    <input type="file" class="form-control" id="FileUpload" name="FileUpload" accept="application/pdf, image/*" />
                                    @Html.ValidationMessageFor(model => model.attachement, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" data-controller="MaterialOut" class="btn btn-success" onclick="TabletoJeson();" id="create" name="Create" style="float:right" />
            </div>
        </div>



        <div>
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary pull-left" })
            <div class="col-sm-6 col-xs-6">
                <input type="button" value="Cancel Material Out" class="btn btn-danger pull-right" id="cancel_btn" />
            </div>
        </div>
}
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Item Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Item
                        </label>
                        <div class="col-md-7">
                            @Html.DropDownList("item_id", (System.Web.Mvc.SelectList)ViewBag.item_name, new
                       {
                           @class = "form-control col-md-7 col-xs-12",
                           @onchange = "GetUnit(this.value)"
                       })
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            User Description *
                        </label>
                        <div class="col-md-7">

                            <input type="text" class="form-control col-md-7 col-xs-12" id="user_description">
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="first-name">
                            Quantity *
                        </label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" id="quantity">
                        </div>

                        <div class="col-md-3">
                            @Html.DropDownList("uom_id", (System.Web.Mvc.SelectList)ViewBag.Uomlist, "---Select---", new { @class = "form-control col-md-7 col-xs-12 removedisabled" })
                        </div>

                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="first-name">
                            Quantity *
                        </label>
                        <div class="col-md-4">
                            <input type="number" class="form-control" id="quantity">
                        </div>

                        <div class="col-md-3">
                            @Html.DropDownList("uom_id", (System.Web.Mvc.SelectList)ViewBag.Uomlist, new { @class = "form-control col-md-7 col-xs-12 removedisabled" })
                        </div>

                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            HSN
                        </label>
                        <div class="col-md-7">
                            @Html.DropDownList("hsn_code_id", (System.Web.Mvc.SelectList)ViewBag.hsn_list, new
                       {
                           @class = "form-control col-md-7 col-xs-12",

                       })
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Tax
                        </label>
                        <div class="col-md-7">
                            @Html.DropDownList("tax_id", (System.Web.Mvc.SelectList)ViewBag.tax_list, new
                       {
                           @class = "form-control col-md-7 col-xs-12",

                       })
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <label class="control-label col-md-3" for="first-name">
                        Rate *
                    </label>
                    <div class="col-md-7">
                        <input type="number" class="form-control" id="rate">
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Reason
                        </label>
                        <div class="col-md-7">
                            <input type="text" class="form-control col-md-7 col-xs-12" id="reason">
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3">
                            Expected Return Date
                        </label>
                        <div class="col-md-7">

                            <input type="date" class="form-control col-md-7 col-xs-12" id="er_date">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "control-label col-md-3 col-sm-3 col-xs-12" })
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            @Html.EditorFor(model => model.remarks, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="modal-footer">
                <input type="hidden" id="srno" />
                <input type="hidden" id="material_out_detail_id" name="material_out_detail_id"/>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearmodel();">Close</button>
                <button type="button" data-dismiss="modal" class="add btn btn-primary">Add </button>
            </div>
        </div>

    </div>
</div>
<div class="modal fade in" id="modal_cancel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="canclearmodel();">×</button>
                <h3 class="modal-title" style="text-align:center"><span style="color:red">Are you sure you want to cancel this Material Out? You will not be able to reverse this action. </span></h3>
            </div>
            <div class="modal-body">
                <br>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="first-name">
                            Cancellation Reason <span class="required">*</span>
                        </label>
                        <div class="col-md-7">
                            @Html.DropDownList("cancellation_reason_id", (System.Web.Mvc.SelectList)ViewBag.cancellationreasonlist, "---Select---", new { @class = "form-control col-md-7 col-xs-12" })
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="first-name">
                            Remarks
                        </label>
                        <div class="col-md-7">
                            <textarea id="cancellation_remarks" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="canclearmodel();">No</button>
                <button type="button" class="btn btn-success" id="cancelled">Yes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/requirevalidation.js"></script>
    <script type="text/javascript">

        //CANCELLATION******************************************************************************************************************************

        if($('#status_id :selected').text()=='Cancelled' || $('#status_id :selected').text()=='Closed' || $('#status_id :selected').text()=='Partialy Open'){
            $('#cancel_btn').hide();
            $('#create').hide();
            $("#status_id").css('color', 'red');
            $("#status_id").css('font-weight', 'bold');
            $("#status_id").css('font-size', '14px' );
        }
        else{
            $('#cancel_btn').show();
        }

        $('#cancel_btn').click(function(){
            try{

                $('#modal_cancel').modal('show');

            }catch(msg){console.log(msg.message)}
        });

        function canclearmodel() {
            $("#cancellation_reason_id").val("");
            $("#cancellation_remarks").val("");
        }


        $('#cancelled').click(function(){
            try{
                if($('#cancellation_reason_id').val()==''){
                    sweetAlert("","Please enter the Cancellation Reason for cancellation","error");
                }
                else{
                    $.ajax({
                        url:'@Url.Action("cancel", "MaterialOut")',
                        data:{material_out_id:$('#material_out_id').val(),cancellation_reason_id:$('#cancellation_reason_id').val(),cancellation_remarks:$('#cancellation_remarks').val()},

                        success: function (id) {
                            if(id.includes("cancelled"))
                            {
                                swal({
                                    title: "cancelled",
                                    text: "Your Material Out has been cancelled.",
                                    type: "success",
                                    showCancelButton: false,
                                    closeOnConfirm: false,
                                    showLoaderOnConfirm: false
                                }, function () {
                                    location.href = '@Url.Action("Index", "MaterialOut")'
                                });
                            }
                            else
                            {
                                swal("Error", id, "error");
                                return false;
                            }
                        }
                    });
                }

            }catch(msg){console.log(msg.message)}
        });

        //*****************************************************************************************************************************************************
        
        if($('#status_id :selected').text()=='Cancelled' || $('#status_id :selected').text()=='Close' || $('#status_id :selected').text()=='Partialy Open'){
            $("#status_id").css('color', 'red');
            $("#status_id").css('font-weight', 'bold');
            $("#status_id").css('font-size', '14px' );
        }

        $(document).ready(function () {
            $("#plant_id").select2({
                placeholder: "Select Plant",
                allowClear: true
            });
            $("#item_id").select2({
                placeholder: "Select Item",
                allowClear: true
            });
            $("#sloc_id").select2({
                placeholder: "Select Storage Location",
                allowClear: true
            });
            $("#batch_id").select2({
                placeholder: "Select Storage Location",
                allowClear: true
            });
            $("#vendor_id").select2({
                placeholder: "Select Vendor Name",
                allowClear: true
            });
            $("#business_unit_id").select2({
                placeholder: "Select Business Location",
                allowClear: true
            });
            $("#employee_id").select2({
                placeholder: "Select Employee",
                allowClear: true
            });
            $("#tax_id").select2({
                placeholder: "Select TaxCode",
                allowClear: true

            });

            $("#hsn_code_id").select2({
                placeholder: "Select HSN",
                allowClear: true
            });

            $("#status_id").select2({
                placeholder: "Select Status",
                allowClear: true
            });
            $("#cancellation_reason_id").select2({
                placeholder: "Select Reason",
                allowClear: true
            });
            

            document.getElementById('er_date').valueAsDate = new Date();
        });


        $(document).ready(function () {
            var t = $('#ContactGrid').dataTable();
            var inv = @Html.Raw(JsonConvert.SerializeObject(this.Model));
            var hsn1 = @Html.Raw(JsonConvert.SerializeObject(ViewBag.hsn_list));
            var tax1 = @Html.Raw(JsonConvert.SerializeObject(ViewBag.tax_list));
            var i = 1;
            console.log(inv);
            $.each(inv.inv_material_out_detail,function(key,value){
                var item_name = "" ;
                var hsn_name = "";
                var tax_name = "";
                if(value.item_id == 0){
                    item_name = "";
                }
                else{
                    item_name = value.REF_ITEM.ITEM_NAME;
                }

                if(value.tax_id == 0){
                    tax_name = "";
                }
                else{
                    var tid = value.tax_id;
                    var tx = tax1.filter(a=>a.Value == tid);
                    tax_name = tx[0].Text;
                }

                if(value.hsn_id == 0){
                    hsn_name = "";
                }
                else{
                    var hid = value.hsn_id;
                    var hs = hsn1.filter(a=>a.Value == hid);
                    hsn_name = hs[0].Text;
                }
                t.fnAddData([value.material_out_detail_id,i,value.item_id, item_name, value.user_description, value.quantity,hsn_name,tax_name,value.rate,value.value, value.uom_id, value.REF_UOM.UOM_NAME, value.reason, value.er_date,value.remarks,value.hsn_id, value.tax_id, '']);
                i=i+1;
                getnetTotal();          
                var rowCount1 = t.fnGetData().length;
                var str;
                var str1;
                var tot = 0;
                var tot_qty=0;
                for (i = 0; i < rowCount1; i++) {
                    str1 = t.fnGetData(i)[16] + "~";
                    str1 = str1 + t.fnGetData(i)[9] + "~";
                    str1 = str1 + t.fnGetData(i)[9];
                    if (i == 0) {
                        str = str1 + ","
                    }
                    else {
                        str = str + str1 + ",";
                    }
                    tot = tot + parseFloat(t.fnGetData(i)[9]);
                    tot_qty = tot_qty + parseFloat(t.fnGetData(i)[5]);
                }
                GetTaxDetail(str.slice(0, -1), tot, $("#posting_date").val());
                $("#diff1").val(tot_qty);

            });
            function formatDate (input) {
                var datePart = input.match(/\d+/g),
                year = datePart[0],
                month = datePart[1],
                day = datePart[2];

                return year+'-'+month+'-'+day;
               // return month+'/'+day+'/'+year;
            }
        });

        $(".add").on("click", function (event) {

            var t = $('#ContactGrid').DataTable();
            var rowCount = t.fnGetData().length;
            var item_id = $("#item_id").val();
            if (item_id == null) {
                item_id = "0";
            }
            var item_name = $('#item_id option:selected').text();
            if (item_name == "") {
                item_name = "0";
            }
            var hsn = $('#hsn_code_id').val();
            var taxcode = $('#tax_id').val();
            var tax_name = $("#tax_id").find("option:selected").text();
            var hsn_name = $("#hsn_code_id").find("option:selected").text();
            var rate = $('#rate').val();
            var value = $('#value').val();
            var reason = $('#reason').val();
            var qty = $("#quantity").val();
            var unit_id = $("#uom_id").val();
            var unit_name = $("#uom_id").find("option:selected").text();
            var er_date = $("#er_date").val();
            var user_description = $("#user_description").val();
            var remarks =$("#remarks").val();
            var chknegative = 0;
            var detailid =$("#material_out_detail_id").val();
           if (qty == '') {
                swal("", "Please Enter Quantity.", "error");
                return false;
            }

            if (qty < 0) {
                swal("", "Material-In quantity Should be greater than zero!", "error");
                return false;
            }
            if(detailid=='')
            {
                detailid=0;
            }
            if ($("#srno").val() == "")
            {
                t.fnAddData(['', rowCount + 1, item_id, item_name, user_description, qty,hsn_name,tax_name, rate, value,  unit_id, unit_name, reason, er_date,remarks,hsn, taxcode, '']);
            }
            else
            {
                var cc = $("#srno").val();
                cc = parseInt(cc)-1;
                t.fnUpdate([detailid, cc + 1, item_id, item_name, user_description, qty,hsn_name,tax_name,  rate, value, unit_id, unit_name, reason, er_date,remarks,hsn, taxcode, ''], cc)
            }
            clearmodel();
            getnetTotal();          
            var rowCount1 = t.fnGetData().length;
            var str;
            var str1;
            var tot = 0;
            var tot_qty=0;
            for (i = 0; i < rowCount1; i++) {
                str1 = t.fnGetData(i)[16] + "~";
                str1 = str1 + t.fnGetData(i)[9] + "~";
                str1 = str1 + t.fnGetData(i)[9];
                if (i == 0) {
                    str = str1 + ","
                }
                else {
                    str = str + str1 + ",";
                }
                tot = tot + parseFloat(t.fnGetData(i)[9]);
                tot_qty = tot_qty + parseFloat(t.fnGetData(i)[5]);
            }
            GetTaxDetail(str.slice(0, -1), tot, $("#posting_date").val());
            $("#diff1").val(tot_qty);
            return true;
        });
        function clearmodel() {
            $("#item_id").val('').trigger('change');
            $("#reason").val('');
            $("#quantity").val('');
            $("#uom_id").val('').trigger('change');
            $("#user_description").val('');
            $("#batch_id").val('').trigger('change');
            $("#srno").val('');
            $('#remarks').val('');
            $('#rate').val('');
            $('#value').val('');
            $('#hsn_code_id').val('').trigger('change');
            $('#tax_id').val('').trigger('change');
        }
  function ItemBatchList(id) {
      var t = $('#ContactGrid').DataTable();
      t.fnAddData($('#myModal').val(''));
  }
  $('#ContactGrid').DataTable({
      "bPaginate": false,
      "ordering": false,
      "bfooter": false,
      "info": false,
      "bLengthChange": false,
      "bAutoWidth": false,
      "bFilter": false,
      "bSort": false,
      aoColumns: [
                 { sname: "a", bVisible: false },// <th hidden><label>ID</label></th> <!--0-->
               { sname: "b" },                 // <th><label>Sr. No.</label></th> <!--1-->
               { sname: "c", bVisible: false },//<th><label hidden>Item Code</label></th> <!--2-->
               { sname: "d" },                 //<th><label>Item</label></th> <!--3-->
               { sname: "e", bVisible: true },//<th><label>User Description</label></th> <!--4-->
               { sname: "f", bVisible: true },//<th><label>Quantity</label></th> <!--5-->
               { sname: "g", bVisible: true },//<th><label>HSN</label></th> <!--6-->
               { sname: "h", bVisible: true },// <th><label>Tax Code</label></th> <!--7-->
               { sname: "i", bVisible: true },//<th><label>Rate</label></th> <!--8-->
               { sname: "j", bVisible: true },//<th><label>Value</label></th> <!--9-->
               { sname: "k", bVisible: false},//<th hidden><label>UOM ID</label></th> <!--10-->
               { sname: "l", bVisible: true },//<th><label>UoM</label></th> <!--11-->
               { sname: "m" },                //<th><label>Reason</label></th> <!--12-->
               { sname: "n" },                //<th><label>Expected Return Date</label></th> <!--13-->
               { sname: "o", bVisible: true },//<th><label>Remarks</label></th> <!--14-->
               { sname: "x", bVisible: false },//<th><label>hsn id</label></th> <!--15-->
               { sname: "y", bVisible: false },//<th><label>tax id</label></th> <!--16-->
               {
                   sname: "v", sWidth: "8%",
                   bSortable: false,
                   mRender: function (data, type, full) {
                       return '<img class="edit" src="../images/writing_file.png" height="20px" width="25px" alt="Edit" onclick="editRow(' + full[1] + ');" /><img class="edit" src="../images/remove.png" height="20px" width="25px" alt="Delete" onclick="deleteRow(' + full[1] + ');" />';
                   }// <th><label>Action</label></th> <!--17-->
               }]

  });
  function TabletoJeson() {
      var t = $('#ContactGrid').DataTable()
      var rowCount = t.fnGetData().length;
      var str;
      var str1;
      var str2;
      var str3;
      $('#inv_material_out_detail').empty();
      for (i = 0; i < rowCount; i++) {
          // console.log(t.fnGetData(i, 3));
          $("#inv_material_out_detail").append('<input type="hidden" id="material_out_detail_id' + i + '" name="material_out_detail_id" value="' + t.fnGetData(i, 0) + '">');
          $("#inv_material_out_detail").append('<input type="hidden" id="item_id' + i + '" name="item_id" value=' + t.fnGetData(i, 2) + '>');
          $("#inv_material_out_detail").append('<input type="hidden" id="user_description' + i + '" name="user_description" value=' + t.fnGetData(i, 4) + '>');
          $("#inv_material_out_detail").append('<input type="hidden" id="uom_id' + i + '" name="uom_id" value=' + t.fnGetData(i, 10) + '>');
          $("#inv_material_out_detail").append('<input type="hidden" id="quantity' + i + '" name="quantity" value=' + t.fnGetData(i, 5) + '>');
          $("#inv_material_out_detail").append('<input type="hidden" id="hsn' + i + '" name="hsn" value=' + t.fnGetData(i, 15) + '>');
          $("#inv_material_out_detail").append('<input type="hidden" id="tax' + i + '" name="tax" value=' + t.fnGetData(i, 16) + '>');
          $("#inv_material_out_detail").append('<input type="hidden" id="rate' + i + '" name="rate" value=' + t.fnGetData(i, 8) + '>');
          $("#inv_material_out_detail").append('<input type="hidden" id="value' + i + '" name="value" value=' + t.fnGetData(i, 9) + '>');
          $("#inv_material_out_detail").append('<input type="hidden" id="remarks1' + i + '" name="remarks1" value=' + t.fnGetData(i, 14) + '>');
          $("#inv_material_out_detail").append('<input type="hidden" id="reason' + i + '" name="reason" value=' + t.fnGetData(i, 12) + '>');
          $("#inv_material_out_detail").append('<input type="hidden" id="er_date' + i + '" name="er_date" value=' + t.fnGetData(i, 13) + '>');
      }
  }



  function editRow() {
      $('#myModal').modal('show');
      var t = $('#ContactGrid').DataTable()
      var cc = parseInt(arguments[0]) - 1;
      $("#srno").val(t.fnGetData(cc)[1]);
      $("#material_out_detail_id").val(t.fnGetData(cc)[0]);
      $("#item_id").val(t.fnGetData(cc)[2]).trigger('change');
      $('#user_description').val(t.fnGetData(cc)[4]);
      $('#quantity').val(t.fnGetData(cc)[5]);
      $('#uom_id').val(t.fnGetData(cc)[8]).trigger('change');
      $('#reason').val(t.fnGetData(cc)[10]);
      $('#er_date').val(t.fnGetData(cc)[11]);
      $('#remarks').val(t.fnGetData(cc)[12]);
      $('#value').val(t.fnGetData(cc)[7]);
      $('#rate').val(t.fnGetData(cc)[6]);
      $('#hsn_code_id').val(t.fnGetData(cc)[15]).trigger('change');
      $('#tax_id').val(t.fnGetData(cc)[16]).trigger('change');
      //document.getElementById('item_id').setAttribute('disabled', 'disabled');
      //document.getElementById('user_description').setAttribute('disabled', 'disabled');
      //document.getElementById('uom_id').setAttribute('disabled', 'disabled');
      //document.getElementById('reason').setAttribute('disabled', 'disabled');
      //document.getElementById('er_date').setAttribute('disabled', 'disabled');

  }


  function deleteRow() {
      var t = $('#ContactGrid').DataTable()
      var len = t.fnGetData.length;
      var pos;
      for (var l = 0; l <=len; l++) {
          if (t.fnGetData(l) != null) {
              if (t.fnGetData(l)[1] == arguments[0]) {
                  pos = l;
              }
          }
      }

      var id = t.fnGetData(pos)[0];

      var deleteids = $("#deleteids").val();

      swal({
          title: "Are you sure?",

          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-danger",
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: true

      },



function (isConfirm) {
    if (isConfirm) {

        $("#deleteids").val(deleteids + "~" + id);
        t.fnDeleteRow(pos);
        getnetTotal();
        var rowCount1 = t.fnGetData().length;
        var str = "";
        var str1 = "";
        var tot = 0;
        var tot_qty = 0;
        for (i = 0; i < rowCount1; i++) {
            str1 = t.fnGetData(i)[16] + "~";
            str1 = str1 + t.fnGetData(i)[9] + "~";
            str1 = str1 + t.fnGetData(i)[9];
            if (i == 0) {
                str = str1 + ","
            }
            else {
                str = str + str1 + ",";
            }
            tot = tot + parseFloat(t.fnGetData(i)[9]);
            tot_qty = tot_qty + parseFloat(t.fnGetData(i)[5]);
        }
        GetTaxDetail(str.slice(0, -1), tot, $("#posting_date").val());
        $("#diff1").val(tot_qty);

    }


});

  }

  function GetDocumentNumber(id) {
      if (id != '') {
          $.ajax({
              type: 'GET',
              url: '/Generic/GetDocumentNumbering',
              data: { id: id },
              success: function (ITEM) {
                  $('#goods_issue_number').val(ITEM);
              },
              error: function (emp) {
                  $('#goods_issue_number').val('');
              }
          });
      }
      else {
          $('#goods_issue_number').val('');
      }
  }

 function GetUnit(id) {
      if (id != '') {
          $.ajax({
              type: 'GET',
              url: '@Url.Action("GetUserDescriptionForItem", "Generic")',
              data: { id: id },
              success: function (ITEM) {
                  $("#uom_id").val(ITEM.UOM_ID);
                  $("#user_description").val(ITEM.user_description);
                  GetItemPlantValuation(id)
                  function GetItemPlantValuation(id) {

                      $.ajax({
                          url: "@Url.Action("GetItemPlantValuation", "ItemMaster")",
                          type: "GET",
                      dataType: "JSON",
                      data: { id: id },
                      success: function (Payment_Cycle) {
                          var plid = $("#plant_id").val();
                          var x = Payment_Cycle.filter(a=>a.plant_id == plid);
                          $("#rate").val(parseFloat(x[0].item_value).toFixed(2));
                          var val = $("#rate").val() * $("#quantity").val()
                          $("#value").val(parseFloat(val).toFixed(2));
                      }
                  });
              }
              },
              error: function (emp) {
                  $('#uom_id').val('');
                  $('#user_description').val('');
              }
          });
      }
      else {
          $('#uom_id').val('');
          $('#user_description').val('');
      }

  }
  function onSelect2(args) {
      var id = "";
      var id = args.value.split("-")[0];
      GetUnit(id);
  }
  $("#STORAGE_LOCATION_ID").html("");
  $("#STORAGE_LOCATION_ID").append($('<option></option>').val("").html("---Select---"));
  $('#plant_id').change(function () {
      GetStorageLocation($('#plant_id').val());
  });

  $('#quantity').change(function () {
      var vl = $('#quantity').val() * $('#rate').val();
      $('#value').val(parseFloat(vl).toFixed(2));
  });

  function GetStorageLocation(id) {
      if (id == "") {
          id = 0;
      }
      $.ajax({
          url: '@Url.Action("GetStorageLocation", "Generic")',
          type: "GET",
          dataType: "JSON",
          data: { id: id },
          success: function (id) {
              $("#sloc_id").html(""); // clear before appending new list
              $("#sloc_id").append($('<option></option>').val("").html("---Select---"));
              $.each(id, function (i, cycle) {
                  $("#sloc_id").append(
                      $('<option></option>').val(cycle.storage_location_id).html(cycle.storage_location_name));
              });
          }
      });
  }

        function ClearTable() {
            var t = $('#ContactGrid').dataTable();;
            if (t.fnGetData().length > 0) {
                t.fnClearTable();
                $('.taxgrid tbody').html('');
                $(".net_value").val("");
                $(".gross_value").val("");
            }
        }


        function GetTaxDetail(taxdetail, amount, dt) {
            $.ajax({
                url: '@Url.Action("GetTaxCalculation", "Generic")',
                type: "GET",
                dataType: "JSON",
                data: { entity: "calculatetax", st: taxdetail, amt: amount, dt: dt, tds_code_id: 0 },
                success: function (Payment_Cycle) {
                    $('#TaxGrid tbody').html('');
                    $.each(Payment_Cycle, function (i, cycle) {
                        $('#TaxGrid').append('<tbody>');
                        $('#TaxGrid').append('<tr><td>' + cycle.tax_name + '</td><td align="right">' + parseFloat(cycle.tax_value).toFixed(2) + '</td></tr>')
                        $('#TaxGrid').append('</tbody>');
                        $("#gross_value").val(parseFloat(cycle.tax_value).toFixed(2));
                    });
                }
            });
        }

        function getnetTotal() {
            var t = $('#ContactGrid').dataTable();;
            var rowCount = t.fnGetData().length;
            var total = 0;
            for (var i = 0; i < rowCount; i++) {
                total = total + parseFloat(t.fnGetData(i)[9]);
            }
            $("#net_value").val(parseFloat(total).toFixed(2));
            $("#gross_value").val(parseFloat(total).toFixed(2));
        }
    </script>
}