@model Sciffer.Erp.Domain.Model.REF_PAYMENT_TERMS

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PAYMENT_TERMS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAYMENT_TERMS_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAYMENT_TERMS_DAYS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAYMENT_TERMS_DAYS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PDC_FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PDC_FLAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ECS_FLAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ECS_FLAG)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
