@model Sciffer.Erp.Domain.Model.REF_PAYMENT_TERMS

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PAYMENT_TERMS_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.PAYMENT_TERMS_CODE, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.PAYMENT_TERMS_CODE, new { htmlAttributes = new { @class = "form-control data-reverse" } })
                    @Html.ValidationMessageFor(model => model.PAYMENT_TERMS_CODE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PAYMENT_TERMS_DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.PAYMENT_TERMS_DESCRIPTION, new { htmlAttributes = new { @class = "form-control data-reverse" } })
                    @Html.ValidationMessageFor(model => model.PAYMENT_TERMS_DESCRIPTION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PAYMENT_TERMS_DAYS, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PAYMENT_TERMS_DAYS, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PAYMENT_TERMS_DAYS, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PAYMENT_TERMS_DUE_DATE_ID, "Due Date based On", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PAYMENT_TERMS_DUE_DATE_ID", (System.Web.Mvc.SelectList)ViewBag.DueDateNames, "---Select---", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PAYMENT_TERMS_DUE_DATE_ID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $("#form0 :input").prop("disabled", true);
    </script>

}
