@model Sciffer.Erp.Domain.Model.REF_ITEM_GROUP

@{
    ViewBag.Title = "Delete";
}
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ITEM_GROUP_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_GROUP_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ITEM_GROUP_DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ITEM_GROUP_DESCRIPTION)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
