@model Sciffer.Erp.Domain.Model.pur_qa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pur_qa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ref_document_type.document_type_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ref_document_type.document_type_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_ITEM.ITEM_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_ITEM.ITEM_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ref_status.status_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ref_status.status_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.document_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.document_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posting_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posting_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.batch_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.batch_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.batch_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.batch_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.document_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.document_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.document_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.document_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.item_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.item_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.document_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.document_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inspection_lot_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inspection_lot_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sample_size_checked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sample_size_checked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sample_size_accepted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sample_size_accepted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sample_size_rejected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sample_size_rejected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_accepted_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_accepted_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_rejected_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_rejected_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_wip_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_wip_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shelf_life)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shelf_life)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shelf_life_uom_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shelf_life_uom_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.grn_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.grn_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_based_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_based_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.internal_remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.internal_remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remrarks_on_doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remrarks_on_doc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attachment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attachment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.document_type_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.document_type_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.qa_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
