@model Sciffer.Erp.Domain.ViewModel.ref_posting_periods_vm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ref_posting_periods_vm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.financial_year_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.financial_year_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.frequency_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.frequency_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.no_of_periods)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.no_of_periods)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.posting_periods_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
