@model IEnumerable<Sciffer.Erp.Domain.Model.TreeViewNodeVM>

@foreach (var treeNode in Model)
{
   // var x = treeNode.gl_level - 1;
  
    <ul class="list-group-item">
        @if (treeNode != null)
        {
            if (@treeNode.gl_head_account == 1)
            {
                <li class="" id="@treeNode.gl_ledger_id">
                    @*<div class="col-sm-@x"></div>*@
                    <div class="Head" id="@treeNode.gl_ledger_id">@treeNode.NodeName</div>
                </li>
            }
            else
            {
                <li class="" id="@treeNode.gl_ledger_id">
                    @*<div class="col-sm-@x"></div>*@
                    <div class="Account" id="@treeNode.gl_ledger_id">@treeNode.NodeName</div>
                </li>
            }
        }
        @if (treeNode.ChildNode.Count > 0)
        {
            @Html.Partial("ChildNode", treeNode.ChildNode);
        }
    </ul>  
}


 @*if (treeNode.gl_head_account == 1)
                    {
<div class="Account">
    @Html.Partial("ChildNode", treeNode.ChildNode);
</div>
                    }
                    else
                    {
@Html.Partial("ChildNode", treeNode.ChildNode);
                    }*@