@model Sciffer.Erp.Domain.Model.ref_general_ledger

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ref_general_ledger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ref_gl_acount_type.gl_account_type_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ref_gl_acount_type.gl_account_type_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gl_ledger_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gl_ledger_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gl_ledger_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gl_ledger_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gl_head_account)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gl_head_account)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gl_parent_ledger_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gl_parent_ledger_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gl_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gl_level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.allow_manual_entry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.allow_manual_entry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_blocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_blocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_acitve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_acitve)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gl_ledger_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
