
@using Sciffer.Erp.Domain.ViewModel

@{
    ViewBag.Title = "Index";
}



<br />
<br />
<br />
<div>
    @(Html.EJ().Grid<sal_si_vm>("Summary")
        .Datasource(ds => ds.URL(Url.Action("GetIndexData", "Generic", new { @ctrl_name = "SalesInvoice" }))
         .EnableCaching()
        .CachingPageSize(2)
        .TimeTillExpiration(120000)
        .Adaptor(AdaptorType.UrlAdaptor))
        .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.InlineFormTemplate); })
        .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
        {
            items.AddTool(ToolBarItems.Add);
            items.AddTool(ToolBarItems.Edit);
            items.AddTool(ToolBarItems.ExcelExport);
            items.AddTool(ToolBarItems.PrintGrid);
        }))
         .ContextMenuSettings(contextMenu =>
         {
             contextMenu.EnableContextMenu();
             contextMenu.DisableDefaultItems();
             contextMenu.CustomContextMenuItems(new List<Syncfusion.JavaScript.Models.CustomContexMenuItems>()
             {
                 new Syncfusion.JavaScript.Models.CustomContexMenuItems() { Id = "MyMenu", Text = "Print Report" },
                 new Syncfusion.JavaScript.Models.CustomContexMenuItems() { Id = "MyMenu1", Text = "Print Subsidiary Report" },
                 new Syncfusion.JavaScript.Models.CustomContexMenuItems() { Id = "MyMenu2", Text = "Print Other Sales Invoice" },
                 new Syncfusion.JavaScript.Models.CustomContexMenuItems() { Id = "MyMenu3", Text = "Print Delivery Challan" },
                 new Syncfusion.JavaScript.Models.CustomContexMenuItems() { Id = "MyMenu4", Text = "Print Other Sales Invoice ShipToParty" },
                 new Syncfusion.JavaScript.Models.CustomContexMenuItems() { Id = "MyMenu5", Text = "Print ShipToParty" }
             });
         })
        .Mappers(map => map.ExportToExcelAction(Url.Action("ExportToExcel", "Generic", new { ctrlname = "SalesInvoice" }))
        .ExportToPdfAction(Url.Action("ExportToPdf", "Generic", new { ctrlname = "SalesInvoice" })).ExportToWordAction(Url.Action("ExportToWord", "Generic", new { ctrlname = "SalesInvoice" })))
        .AllowSorting()
       .AllowPaging().PageSettings(a => a.PageSize(20))
        .IsResponsive()
        .AllowFiltering()
        .ShowColumnChooser()
        .AllowReordering()
         .AllowScrolling()
        .ScrollSettings(col => { col.Width("100%"); })
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .Columns(col =>
        {
            col.Field("si_id").Width("15%").HeaderText("ID").Visible(false).IsPrimaryKey(true).Width(80).Add();
            col.Field("so_number").Width("15%").HeaderText("SO Number").Add();
            col.Field("sales_category_name").Width("15%").HeaderText("Category").Visible(false).Add();
            col.Field("si_number").Width("15%").HeaderText("Sales Invoice No").Add();
            col.Field("si_date").Width("15%").HeaderText("Posting Date").Format("{0:dd/MM/yyyy}").Add();
            col.Field("buyer_name").Width("15%").HeaderText("Bill to Party Name").Add();
            col.Field("item_name").Width("15%").HeaderText("Item Name").Add();
            col.Field("sales_quantity").Width("15%").HeaderText("Quantity").TextAlign(TextAlign.Right).Format("{0:n2}").Add();
            col.Field("buyer_code").Width("15%").HeaderText("Bill to Party Code").Visible(false).Add();
            col.Field("supply_state").Width("15%").HeaderText("Place of Supply").Visible(false).Add();
            col.Field("consignee_name").Width("15%").HeaderText("Ship to Party Name").Visible(false).Add();
            col.Field("consignee_code").Width("15%").HeaderText("Ship to Party Code").Visible(false).Add();
            col.Field("delivery_state").Width("15%").HeaderText("Place of Delivery").Visible(false).Add();
            col.Field("sal_net_value").Width("15%").HeaderText("Net Value").TextAlign(TextAlign.Right).Format("{0:n2}").Add();
            col.Field("net_currency_name").Width("15%").HeaderText("Net Currency").Visible(false).Add();
            col.Field("sal_gross_value").Width("15%").HeaderText("Gross Value").TextAlign(TextAlign.Right).Format("{0:n2}").Add();
            col.Field("gross_currency_name").Width("15%").HeaderText("Gross Currency").Visible(false).Add();
            col.Field("business_unit_name").Width("15%").HeaderText("Business Unit Name").Visible(false).Add();
            col.Field("business_desc").Width("15%").HeaderText("Business Unit Description").Visible(false).Add();
            col.Field("plant_code").Width("15%").HeaderText("Plant Code").Visible(false).Add();
            col.Field("plant_name").Width("15%").HeaderText("Plant Description").Visible(false).Add();
            col.Field("freight_terms_name").Width("15%").HeaderText("Freight Terms").Visible(false).Add();
            col.Field("territory_name").Width("15%").HeaderText("Territory").Visible(false).Add();
            col.Field("sales_rm").Width("15%").HeaderText("Sales RM").Visible(false).Add();
            col.Field("customer_po_date").Width("15%").HeaderText("Customer PO Date").Format("{0:dd/MM/yyyy}").Visible(false).Add();
            col.Field("customer_po_no").Width("15%").HeaderText("Customer PO Number").Visible(false).Add();
            col.Field("removal_date").Width("15%").HeaderText("Removal Date").Format("{0:dd/MM/yyyy}").Visible(false).Add();
            col.Field("removal_time").Width("15%").HeaderText("Removal Time").Visible(false).Add();
            col.Field("out_date").Width("15%").HeaderText("Out Pass Date").Format("{0:dd/MM/yyyy}").Visible(false).Add();
            col.Field("outtime").Width("15%").HeaderText("Out Pass Time").Visible(false).Add();
            col.Field("form_name").Width("15%").HeaderText("Sale against Form").Visible(false).Add();
            col.Field("transport_mode").Width("15%").HeaderText("Mode of Transport").Visible(false).Add();
            col.Field("transporter").Width("15%").HeaderText("Transporter").Visible(false).Add();
            col.Field("vehicle_no").Width("15%").HeaderText("Vehicle Number").Visible(false).Add();
            col.Field("lr_no").Width("15%").HeaderText("LR No").Visible(false).Add();
            col.Field("lr_date").Width("15%").HeaderText("LR Date").Format("{0:dd/MM/yyyy}").Visible(false).Add();
            col.Field("asn_no").Width("15%").HeaderText("ASN No").Visible(false).Add();
            col.Field("e_way_bill").Width("15%").HeaderText("E Way Bill").Visible(false).Add();
            col.Field("e_way_bill_date").Width("15%").HeaderText("E Way Bill Date").Format("{0:dd/MM/yyyy}").Visible(false).Add();
            col.Field("billing_address").Width("15%").HeaderText("Billing Address").Visible(false).Add();
            col.Field("billing_city").Width("15%").HeaderText("Billing City").Visible(false).Add();
            col.Field("billing_pincode").Width("15%").HeaderText("Billing State").Visible(false).Add();
            col.Field("billing_country_name").Width("15%").HeaderText("Billing Country").Visible(false).Add();
            col.Field("billing_state_name").Width("15%").HeaderText("Billing State").Visible(false).Add();
            col.Field("billing_email_id").Width("15%").HeaderText("Billing Email").Visible(false).Add();
            col.Field("shipping_address").Width("15%").HeaderText("Shipping Address").Visible(false).Add();
            col.Field("shipping_city").Width("15%").HeaderText("Shipping City").Visible(false).Add();
            col.Field("shipping_pincode").Width("15%").HeaderText("Shipping State").Visible(false).Add();
            col.Field("shipping_country_name").Width("15%").HeaderText("Shipping Country").Visible(false).Add();
            col.Field("shipping_state_name").Width("15%").HeaderText("Shipping State").Visible(false).Add();
            col.Field("shipping_email_id").Width("15%").HeaderText("Shipping Email").Visible(false).Add();
            col.Field("payment_cycle_type_name").Width("15%").HeaderText("Payment Cycle Type").Visible(false).Add();
            col.Field("payment_cycle_name").Width("15%").HeaderText("Payment Cycle").Visible(false).Add();
            col.Field("payment_terms_name").Width("15%").HeaderText("Payment Terms").Visible(false).Add();
            col.Field("credit_avail_after_invoice").Width("15%").HeaderText("Credit Available After Invoice").Visible(false).Add();
            col.Field("pan_no").Width("15%").HeaderText("Bill to Party PAN No").Visible(false).Add();
            col.Field("gst_no").Width("15%").HeaderText("Bill to Party GSTIN").Visible(false).Add();
            col.Field("shipping_pan_no").Width("15%").HeaderText("Ship to Party PAN no").Visible(false).Add();
            col.Field("shipping_gst_no").Width("15%").HeaderText("Ship to Party GSTIN").Visible(false).Add();
            col.Field("internal_remarks").Width("15%").HeaderText("Internal Remarks").Visible(false).Add();
            col.Field("tds_name").Width("15%").HeaderText("TDS Code").Visible(false).Add();
            col.Field("gst_tds_code").Width("15%").HeaderText("GST TDS Code").Visible(false).Add();
            col.Field("remarks").Width("15%").HeaderText("Remarks on Document").Visible(false).Add();
            col.Field("attachment").Width("15%").HeaderText("Attachment").Width(150).Visible(false).Template("<a id='files' target='_blank' href='/Generic/Result?id={{:SI_ID}}&controllername=SalesInvoice'>File</a>").Add();

        }).ClientSideEvents(eve =>
        {
            eve.ActionBegin("actionBegin");
            eve.RightClick("rightClick");
            eve.ContextClick("contextclick");
        })
    )
</div>
<style>
    .e-editedrow {
        display: none;
    }

    .e-editcell {
        display: none;
    }
</style>

<script type="text/javascript">

    function actionBegin(args) {
        if (args.requestType == "beginedit")
        {
            location.href = '@Url.Action("Edit", "SalesInvoice")?id=' + args.rowData.si_id;
        }
        if(args.requestType=="add")
        {
            location.href = '@Url.Action("Create", "SalesInvoice")'
        }
        if (args.requestType == "delete") {
            location.href = '@Url.Action("Delete", "SalesInvoice")?id=' + args.rowData.si_id;
        }
    }
    function contextclick(args) {
        if (args.text == "Print Report") {
            var url = '@Url.Action("Pdf", "SalesInvoice")?id=' + this.getSelectedRecords()[0].si_id;
            window.open(url);
        }
        if (args.text == "Print Subsidiary Report") {
            var url = '@Url.Action("SunsidiaryPdf", "SalesInvoice")?id=' + this.getSelectedRecords()[0].si_id;
            window.open(url);
        }
        if (args.text == "Print Other Sales Invoice") {
            var url = '@Url.Action("ScrapSalesInvoice", "SalesInvoice")?id=' + this.getSelectedRecords()[0].si_id;
            window.open(url);
        }
        if (args.text == "Print Delivery Challan") {
            var url = '@Url.Action("DeliveryChallanPdf", "SalesInvoice")?id=' + this.getSelectedRecords()[0].si_id;
            window.open(url);
        }
        if (args.text == "Print ShipToParty") {
            var url = '@Url.Action("ShipToParty_Pdf", "SalesInvoice")?id=' + this.getSelectedRecords()[0].si_id;
            window.open(url);
        }
        if (args.text == "Print Other Sales Invoice ShipToParty") {
            var url = '@Url.Action("ScrapSalesInvoiceShipToParty", "SalesInvoice")?id=' + this.getSelectedRecords()[0].si_id;
            window.open(url);
        }
    };
   $(document).ready(function () {
        var doc_no = '@ViewBag.doc';
        if (doc_no != '') {
            if (doc_no != 0) {
                sweetAlert("", doc_no, "success");
            }
        }
    });
</script>

