@model Sciffer.Erp.Domain.Model.ref_cash_account

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.cash_account_code, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        @Html.EditorFor(model => model.cash_account_code, new { htmlAttributes = new { @class = "form-control validinput" } })
                        @Html.ValidationMessageFor(model => model.cash_account_code, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.cash_account_desc, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        @Html.EditorFor(model => model.cash_account_desc, new { htmlAttributes = new { @class = "form-control validinput" } })
                        @Html.ValidationMessageFor(model => model.cash_account_desc, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.currency_id, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        @Html.DropDownList("currency_id", (System.Web.Mvc.SelectList)ViewBag.currencylist, htmlAttributes: new { @class = "form-control validinput" })
                        @Html.ValidationMessageFor(model => model.currency_id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.gl_ledger_id, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        @Html.DropDownList("gl_ledger_id", (System.Web.Mvc.SelectList)ViewBag.gllist,"", htmlAttributes: new { @class = "form-control validinput" })
                        @Html.ValidationMessageFor(model => model.gl_ledger_id, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">           
            <div class="col-lg-6 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.is_blocked, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        @Html.EditorFor(model => model.is_blocked, new { htmlAttributes = new { @class = "form-control", Type = "checkbox" } })
                        @Html.ValidationMessageFor(model => model.is_blocked, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    @*<div class="form-group">
                        @Html.LabelFor(model => model.is_active, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            @Html.EditorFor(model => model.is_active, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-success" data-controller="CashAccount"  style="float:right" id="create" name="create" />
                </div>
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>


<script src="~/Scripts/requirevalidation.js"></script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
    $(document).ready(function(){
        $('#is_blocked').checkboxpicker();
        $("#gl_ledger_id").select2({
            maximumSelectionLength: 4,
            placeholder: "Select GL",
            allowClear: true

        });
    });
</script>
}