@model Sciffer.Erp.Domain.Model.pur_requisition

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>pur_requisition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.REF_BRAND.BUSINESS_UNIT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_BRAND.BUSINESS_UNIT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_CATEGORY.CATEGORY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_CATEGORY.CATEGORY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_CURRENCY.CURRENCY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_CURRENCY.CURRENCY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_FREIGHT_TERMS.FREIGHT_TERMS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_FREIGHT_TERMS.FREIGHT_TERMS_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_PLANT.PLANT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_PLANT.PLANT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_SOURCE.SOURCE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_SOURCE.SOURCE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_VENDOR.VENDOR_CODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_VENDOR.VENDOR_CODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pur_requisition_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pur_requisition_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pur_requisition_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pur_requisition_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.net_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.net_value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.delivery_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.delivery_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vendor_quotation_details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendor_quotation_details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_on)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_on)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.internal_remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.internal_remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
