@model Sciffer.Erp.Domain.Model.inv_Inventory_stock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>inv_Inventory_stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ref_document_numbring.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ref_document_numbring.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_PLANT.PLANT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_PLANT.PLANT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_STORAGE_LOCATION.storage_location_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_STORAGE_LOCATION.storage_location_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posting_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posting_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.document_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.document_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bucket_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bucket_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ref1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ref1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.inventory_stock_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
