@model Sciffer.Erp.Domain.Model.ref_module_form

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ref_module_form</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ref_module.module_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ref_module.module_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.module_form_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.module_form_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.module_form_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
