@using Sciffer.Erp.Domain.ViewModel

@{
    ViewBag.Title = "Index";
}


<br /><br /><br />
<div>
    @(Html.EJ().Grid<ref_asset_class_vm>("Searching")
        .Datasource(ds => { ds.Json((IEnumerable<object>)ViewBag.DataSource).RemoveURL(Url.Action("Delete", "AssetClass")).Adaptor(AdaptorType.RemoteSaveAdaptor); })
        .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.InlineFormTemplate).ShowDeleteConfirmDialog(true); })
        .EnableAltRow().AllowPaging()
        .PageSettings(p => { p.PageSize(12); })
        .ToolbarSettings(toolBar => toolBar.ShowToolbar().ToolbarItems(items =>
        {
            items.AddTool(ToolBarItems.Add);
            items.AddTool(ToolBarItems.Edit);
            items.AddTool(ToolBarItems.ExcelExport);
            items.AddTool(ToolBarItems.PrintGrid);
        }))
        .Mappers(map => map.ExportToExcelAction(Url.Action("ExportToExcel", "Generic", new { ctrlname = "AssetClass" })))
        .AllowSorting()
        .AllowPaging()
        .IsResponsive()
        .AllowFiltering()
        .ShowColumnChooser()
        .AllowReordering()
        .AllowScrolling()
        .ScrollSettings(col => { col.Width("100%").Height("Auto"); })
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .Columns(col =>
        {
            col.Field("asset_class_id").HeaderText("ID").IsPrimaryKey(true).Width(80).Visible(false).Add();
            col.Field("asset_class_code").HeaderText("CODE").Add();
            col.Field("asset_class_des").HeaderText("DESCRIPTION").Add();
            col.Field("asset_type").HeaderText("ASSET TYPE").Add();

            // col.Field("attachment").HeaderText("Attachment").Width(150).Visible(false).Template("<a id='files' target='_blank' href='/Generic/Result?id={{:GOODS_RECEIPT_ID}}&&cntrollername=GoodsReceipt'>File</a>").Add();
        }).ClientSideEvents(eve =>
        {
            eve.ActionBegin("actionBegin");
            eve.RightClick("rightClick");
        })
    )
</div>
<style>
    .e-editedrow {
        display: none;
    }

    .e-editcell {
        display: none;
    }
</style>

<script type="text/javascript">

    function actionBegin(args) {
        if (args.requestType == "beginedit") {
            location.href = "@Url.Action("Edit", "AssetClass")?id=" + args.rowData.asset_class_id;
        }
        if (args.requestType == "add") {
            location.href = "@Url.Action("Create", "AssetClass")";
        }
    }
    function rightClick(args) {
        location.href = "@Url.Action("Details", "AssetClass")?id=" + args.rowData.asset_class_id;
    }
     $(document).ready(function () {
       @*var num = '@Html.ViewBag.num';
       if (num != '') {
           if (num != undefined) {
               sweetAlert("",num + " Saved successfully.","success");
           }
       }*@
   });

</script>








