

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<style>
    .item_label {
        font-size: 14px !important;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $(".loading").hide();
        $('.mickey').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            maxHeight: '200',
            enableCaseInsensitiveFiltering: true,
            allowClear: true,
            maximumResultsForSearch: 1,
            numberDisplayed: 0,
        });
    });
</script>


<div class="form-horizontal" style="margin-top:10px;">
    <div class="form-group">
        <div class="row">
            <div class="form-horizontal">
                <div class="x_content">
                    <div class=row>
                        <div class="col-md-6 col-lg-6 col-xs-12">
                            <label class="control-label col-md-5 col-lg-5 col-xs-12">From Date</label>
                            <div class="col-md-7 col-lg-7 col-xs-12">
                                <input type="date" id="fromDate" class="form-control radius" required="required">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xs-12">
                            <label class="control-label col-md-5 col-lg-5 col-xs-12">To Date</label>
                            <div class="col-md-7 col-lg-7 col-xs-12">
                                <input type="date" id="toDate" class="form-control radius">
                            </div>
                        </div>

                    </div>

                    <br />

                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <div class="control-label col-md-5 col-lg-5 col-xs-12">
                                    <label>Machine List</label>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    @Html.DropDownList("machine_id", (System.Web.Mvc.SelectList)ViewBag.machine_list, new { @class = "form-control mickey", @multiple = "multiple", @required = true })

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <div class="control-label col-md-5 col-lg-5 col-xs-12">
                                    <label>Item List</label>
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    @Html.DropDownList("item_id", (System.Web.Mvc.SelectList)ViewBag.item_list, htmlAttributes: new { @class = "form-control mickey", @multiple = "multiple", @required = true, @width = "113%" })

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class=row>
            <div class="col-md-4 col-lg-4 col-xs-12">

            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                @*<input type="hidden" id="entity" value="getbreackdownorderdata" />
                    <input type="hidden" id="partial" value="PV_Breakdown_Order" />*@
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">

                <div class="col-md-7 col-lg-7 col-xs-12 pull-right">
                    <button class="searchbutton searchButton" id="search"> &nbsp; Run Report </button>
                </div>
            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="searchresult">
                    @Html.Partial("PV_Breakdown_Order", (object)ViewBag)
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#search").click(function () {
        AdvanceSearch();
    });

    function AdvanceSearch() {

        var fromDate = $("#fromDate").val();
        var toDate = $("#toDate").val();

        if ($('#machine_id :selected').length > 0) {
            var selectedmachineid = [];
            $('#machine_id :selected').each(function (i, selected) {
                selectedmachineid[i] = $(selected).val();
            });
            var machineid = selectedmachineid + "";
        }

        if ($('#item_id :selected').length > 0) {
            var selecteditemid = [];
            $('#item_id :selected').each(function (i, selected) {
                selecteditemid[i] = $(selected).val();
            });
            var itemid = selecteditemid + "";
        }

        $.ajax({
            url: "@Url.Action("Get_Partial", "ProductionReport")",
            method: "Post",
            cache: false,
            data: { entity: "get_breakdown_Order_partial", from_date: fromDate, to_date: toDate, machine_id: machineid, item_id: itemid, is_qc_remark: "false" },
            success: function (data) {
                $(".loading").hide();
                $('#searchresult').empty().append(data);
            },
            error: function (http) {
                $(".loading").hide();
                $("", "Something went wrong", "error");
                console.log(XMLHttpRequest);
            }
        });

    }
</script>
