@using Sciffer.Erp.Domain.ViewModel
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.mickey').multiselect({
            includeSelectAllOption: true,
            enableFiltering: true,
            maxHeight: '200',
            enableCaseInsensitiveFiltering: true,
            allowClear: true,
            maximumResultsForSearch: 1,
            numberDisplayed: 0,
        });
    });
</script>
<div class="loading">Loading &#8230;</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class=row>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <label class="control-label col-md-5 col-lg-5 col-xs-12">Plant</label>
                <div class="col-md-7 col-lg-7 col-xs-12">
                    @Html.DropDownList("plant_id", (System.Web.Mvc.SelectList)ViewBag.plant_list, htmlAttributes: new { @class = "form-control mickey", multiple = "multiple" })
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <label class="control-label col-md-5 col-lg-5 col-xs-12">Machine Code</label>
                <div class="col-md-7 col-lg-7 col-xs-12">
                    @Html.DropDownList("machine_id", (System.Web.Mvc.SelectList)ViewBag.mplist, htmlAttributes: new { @class = "form-control mickey", multiple = "multiple" })
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xs-12">
                <div class="control-label col-md-5 col-lg-5 col-xs-12">
                    <label></label>
                </div>
                <div class="col-md-7 col-lg-7 col-xs-12">
                    <button class="searchbutton searchButton" id="search"> &nbsp; Run Report </button>
                </div>
            </div>
        </div>
        <br />
        <div class=row>           
            <div class="col-md-4 col-lg-4 col-xs-12">
                <label class="control-label col-md-5 col-lg-5 col-xs-12">Item Code</label>
                <div class="col-md-7 col-lg-7 col-xs-12">
                    @Html.DropDownList("item_id", (System.Web.Mvc.SelectList)ViewBag.item_list, htmlAttributes: new { @class = "form-control mickey", multiple = "multiple" })
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div id="searchresult">
            @Html.Partial("Partial_WIPReportAgeingReportSummary", (object)ViewBag)
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#plant_id").multiselect('selectAll', false);
        $('#plant_id').multiselect('updateButtonText');
        $("#machine_id").multiselect('selectAll', false);
        $('#machine_id').multiselect('updateButtonText');
        $('#machine_id').multiselect('updateButtonText');
        $("#item_id").multiselect('selectAll', false);
        $('#item_id').multiselect('updateButtonText');
    });
    $("#search").click(function () {
        AdvanceSearch();
    });
    function AdvanceSearch() {
        var fromDate = $("#fromDate").val();
        if ($('#plant_id :selected').length > 0) {
            var selectedplantid = [];
            $('#plant_id :selected').each(function (i, selected) {
                selectedplantid[i] = $(selected).val();
            });
            var plantid = selectedplantid + "";
        }
        if ($('#machine_id :selected').length > 0) {
            var selectedmachineid = [];
            $('#machine_id :selected').each(function (i, selected) {
                selectedmachineid[i] = $(selected).val();
            });
            var machineid = selectedmachineid + "";
        }
        if ($('#item_id :selected').length > 0) {
            var selecteditemid = [];
            $('#item_id :selected').each(function (i, selected) {
                selecteditemid[i] = $(selected).val();
            });
            var itemid = selecteditemid + "";
        }
        $(".loading").show();
        $.ajax({
            url: "@Url.Action("Get_Partial", "ProductionReport")",
            method: "Post",
        cache: false,
        data: {
            entity: "get_WIP_Report_Ageing_Report_Summary", plant_id: plantid, machine_id: machineid, item_id: itemid, is_qc_remark: "false"
        },
        success: function (data) {
            $(".loading").hide();
            $('#searchresult').empty().append(data);
        },
        error: function (http) {
            console.log(XMLHttpRequest);
        }
        });

    }
</script>
<div class="modal"><!-- Place at bottom of page --></div>
