
@model Sciffer.Erp.Domain.ViewModel.fin_ledger_capitalization_vm
@using Newtonsoft.Json
@{
    ViewBag.Title = "Create";
}
<div class="loading">Loading &#8230;</div>
@using (Html.BeginForm("Create", "Capitalization", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form_main", @id = "form_main" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="margin-top:10px;">
        <div>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
        @Html.HiddenFor(a => a.fin_ledger_capitalization_id, new { @class = "primary_id hidden" })
        <div class="form-group">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.document_numbering_id, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            @Html.DropDownList("document_numbering_id", (System.Web.Mvc.SelectList)ViewBag.category_list, new { @class = "form-control category validinput", @required = true, @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.document_numbering_id, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            @Html.EditorFor(model => model.document_no, new { htmlAttributes = new { @class = "form-control removedisabled", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.document_no, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.posting_date, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.posting_date, new { htmlAttributes = new { @class = "form-control", @required = true, @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.posting_date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.asset_code_id, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("asset_code_id", (System.Web.Mvc.SelectList)ViewBag.assetcodeList, "--select--", htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.asset_code_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.capitalization_date, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.EditorFor(model => model.capitalization_date, new { htmlAttributes = new { @class = "form-control", @required = true, @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.capitalization_date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.gl_ledger_id, htmlAttributes: new { @class = "control-label col-md-4 col-sm-4 col-xs-12" })
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("gl_ledger_id", (System.Web.Mvc.SelectList)ViewBag.entity_type_list, new { @class = "form-control category validinput", @required = true, @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.gl_ledger_id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-body" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                <li class="active"><a data-toggle="tab" href="#sectionA">Detail</a></li>
            </ul>
            <div class="tab-content">
                <div id="sectionA" class="tab-pane fade in active" style="margin-top:10px;">
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-responsive table-bordered table-striped" id="Capitalization">
                                <thead>
                                    <tr>

                                        <th><label>fin_ledger_detail_id</label></th>
                                        @*<th><label>Sr No.</label></th>*@
                                        @*<th><label></label></th>*@
                                        <th><label>document_type_id</label></th>
                                        <th><label>Doc Type</label></th>
                                        <th><label>Doc No.</label></th>
                                        <th><label>Posting Date</label></th>
                                        <th><label>Vendor</label></th>
                                        <th><label>PO</label></th>
                                        <th><label>po_id</label></th>
                                        <th><label>JE No.</label></th>
                                        <th><label>Amount</label></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg12 col-sm-12">
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label class="" style="position:absolute;top:20%;left:73%;font-size:25px">Total Capitalization Amount</label>
                        <input type="text" class="pull-right" value="0" id="net_value" name="net_value" style="font-size: 15px; width: 120px;" disabled />
                    </div>
                </div>
            </div>
            <div class="col-lg12 col-sm-12">
                <div class="form-group">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary pull-left" })
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <input type="button" value="Cancel Capitalization" class="btn btn-danger" data-toggle="modal" data-target="#myCanModal" style="float:right" id="cancel_pi" />
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                    </div>
                    </div>
                </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myCanModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title" style="text-align:center"><span style="color:red">Are you sure you want to cancel Capitalization ? You will not be able to reverse this action. </span></h3>
                </div>
                <div class="modal-body">
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-3" for="first-name">
                                Remarks
                            </label>
                            <div class="col-md-7">
                                <textarea id="cancel_remarks" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <br />
                <div class="modal-footer">
                    <input type="hidden" id="srno" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="clearmodel();">No</button>
                    <button type="button" class="btn btn-success" id="Cancelled" name="Cancelled" onclick="CANCEL_FIN_LEDGER_CAPITALIZATION();">Yes</button>
                </div>
            </div>

        </div>
    </div>
    <!-- End Modal-->
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

                        $("#document_numbering_id").select2({
                            placeholder: "Select Category",
                            allowClear: true
                        });

                        $("#gl_ledger_id").select2({
                            placeholder: "Select GL",
                            allowClear: true
                        });

                        $("#asset_code_id").select2({
                            placeholder: "Select Asset Code",
                            allowClear: true
                        });

//Capitalization *********************************************************************************************************************************************************

        function getnetTotal() {
            var t = $('#Capitalization').dataTable();;
            var rowCount = t.fnGetData().length;
            var total = 0;
            for (var i = 0; i < rowCount; i++) {
                total = parseFloat(total) + parseFloat(t.fnGetData(i)[9]);
            }
            $("#net_value").val(parseFloat(total).toFixed(2));
        }

        $('#Capitalization').DataTable({
                            "bPaginate": false,
                            "ordering": false,
                            "bfooter": false,
                            "info": false,
                            "bLengthChange": false,
                            "bAutoWidth": false,
                            "bFilter": false,
                            "bSort": false,
                            aoColumns: [

                                { sname: "a", bVisible: false },
                                //{ sname: "b", bVisible: true },
                                //{ sname: "c", bVisible: true,},
                                { sname: "d", bVisible: false },
                                { sname: "e", bVisible: true },
                                { sname: "f", bVisible: true },
                                { sname: "g", bVisible: true ,sClass: "right" },
                                { sname: "h", bVisible: true },
                                { sname: "i", bVisible: true },
                                { sname: "j", bVisible: false },
                                { sname: "k", bVisible: true },
                                { sname: "l", bVisible: true,sClass: "right" },

                            ]

                        });


        //************************************************************************************************************************************************************

                    var _details = @Html.Raw(JsonConvert.SerializeObject(this.Model.fin_ledger_capitalization_detail_vm));
                    var t = $('#Capitalization').DataTable()
                    var i = 0;
                    $.each(_details, function (i, cycle) {

                        t.fnAddData([cycle.fin_ledger_detail_id, cycle.document_type_id, cycle.document_type_name, cycle.source_document_no, cycle.ledger_date, cycle.vendor_name, cycle.po_no, cycle.po_id, cycle.document_no, parseFloat(cycle.amount_local).toFixed(2)]);

                    });
                    getnetTotal();




        function CANCEL_FIN_LEDGER_CAPITALIZATION()
        {
            if ($("#cancel_remarks").val()=="")
            {
                swal("Error!", "Please enter remark for cancellation", "error")
                return false;
            }

            $.ajax({
                url: '@Url.Action("DeleteConfirmed", "Capitalization")',
                type: "POST",
                dataType: "JSON",
                async:false,
                data: { id: $("#fin_ledger_capitalization_id").val(),cancellation_remarks: $("#cancel_remarks").val() },
                success: function (id) {
                    if(id=="Cancelled")
                    {

                        swal({
                            title: "Cancelled",
                            text: "Your Capitalization " + $("#document_no").val() + " has been cancelled.",
                            type: "success",
                            showCancelButton: false,
                            closeOnConfirm: false,
                            showLoaderOnConfirm: false
                        }, function () {

                            location.href = '@Url.Action("Index", "Capitalization")'

                        });
                    }
                    else
                    {
                        swal("Error", id, "error");
                    }

                }
            });
}


        // Clear Modal on click No Button
        function clearmodel() {

            $("#cancel_remarks").val('');
        }


    </script>
}
