@model Sciffer.Erp.Domain.Model.ref_hsn_code

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ref_hsn_code</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.hsn_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsn_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hsn_code_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hsn_code_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_blocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_blocked)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.hsn_code_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
