@model Sciffer.Erp.Domain.ViewModel.fin_bank_reco_vm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>fin_bank_reco_vm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.REF_CURRENCY.CURRENCY_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_CURRENCY.CURRENCY_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ref_document_numbring.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ref_document_numbring.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.document_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.document_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.posting_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.posting_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reco_start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reco_start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reco_end_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reco_end_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bank_account_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bank_account_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_closing_bal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_closing_bal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ledger_closing_bal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ledger_closing_bal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receipt_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receipt_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payment_not_sel_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payment_not_sel_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receipt_not_sel_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receipt_not_sel_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.derived_closing_bal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.derived_closing_bal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_final)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_final)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fin_bank_reco_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
