@model Sciffer.Erp.Domain.Model.plan_maintenance_order

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>plan_maintenance_order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ref_machine.machine_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ref_machine.machine_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ref_machine_category.machine_category_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ref_machine_category.machine_category_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ref_maintenance_type.maintenance_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ref_maintenance_type.maintenance_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.REF_PLANT.PLANT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REF_PLANT.PLANT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creation_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creation_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.model_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.model_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manufacturer_part_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manufacturer_part_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manufacturer_serial_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manufacturer_serial_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset_code_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset_code_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.asset_tag_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.asset_tag_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.scheduled_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scheduled_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.finish_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.finish_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actual_start_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actual_start_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actual_finish_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actual_finish_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_executed_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_executed_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_approved_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_approved_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.permit_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.permit_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notification_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notification_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.attachement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.attachement)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_active)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
