@model Sciffer.Erp.Domain.Model.ref_tax_type

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.tax_type_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tax_type_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tax_type_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" id="create" name="create" style="float:right" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index",null,new {@class="btn btn-primary" })
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
                $("#create").click(function (e) {
                    e.preventDefault();
                    var taxtype = $('#tax_type_name').val();

                    if (taxtype == "") {
                        sweetAlert("", "tax type is required!", "error");
                    }
                    else {
                        $.ajax({
                            url: '@Url.Action("CheckDuplicate", "TaxType")',
                            type: "GET",
                            dataType: "JSON",
                            asynch: true,
                            data: { st: taxtype, id: 0 },
                            success: function (output) {
                                if (output != 0) {
                                    sweetAlert("", taxtype + " is already present in databse!", "error");
                                }
                                else {
                                    document.forms[0].submit();
                                }
                            }
                        });
                    }
                });
    </script>
}